@using WEBPCTSV.Helpers
@{
    ViewBag.Title = "Thêm văn bản biểu mẫu";
    ViewBag.Active = "VanBanBieuMau";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<script src="~/Content/ckfinder/ckfinder.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/js/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document)
        .ready(
            function() {
                $("#fAddInfo")
                    .validate(
                    {
                        ignore: [],
                        rules: {
                            title: {
                                required: true,
                            },
                            description: {
                                required: true,
                            },
                            contentHtml: {
                                required: function() {
                                    CKEDITOR.instances.contentHtml.updateElement();
                                }
                            },
                            type: {
                                required: true,
                            },
                            attachedDocuments: {
                                required: true
                            }
                        },
                        messages: {
                            title: {
                                required: "Chưa nhập tiêu đề!",
                            },
                            description: {
                                required: "Chưa nhập mô tả!",
                            },
                            contentHtml: {
                                required: "Chưa nhập nội dung!",
                            },
                            type: {
                                required: "Chưa chọn loại văn bản!",
                            },
                            attachedDocuments: {
                                required: "Chưa chọn văn bản đính kèm!"
                            }
                        },

                        submitHandler: function(form) {
                            form.submit();
                        }
                    });
            });
</script>
<style type="text/css">
    label.error { color: #FF0000; }

    input.error {
        border: 2px solid #FF0000;
        border-style: ridge;
        color: #0000FF;
    }
</style>

<ol class="breadcrumb box-shadow">
    <li>
        <a href="TrangChu">Trang chủ</a>
    </li>
    <li>
        <a href="~/QuanLy/QuanLyVanBan">Quản lý văn bản biểu mẫu</a>
    </li>
    <li class="active">Thêm mới</li>
</ol>


<div class="main-content">
    <div class="col-xs-12 col-sm-12">
        <div class="main-form">

            @using (Html.BeginForm("Them", "QuanLy/QuanLyVanBan", FormMethod.Post, new { @id = "fAddInfo" }))
            {
                <div class="form-group">
                    <label>Loại văn bản</label>
                    <select class="form-control" name="type">
                        <option value=""></option>
                        <option value="VanBanBo">@Define.typeNews["VanBanBo"]</option>
                        <option value="VanBanDHDN">@Define.typeNews["VanBanDHDN"]</option>
                        <option value="VanBanTruong">@Define.typeNews["VanBanTruong"]</option>
                        <option value="VanBanCTSV">@Define.typeNews["VanBanCTSV"]</option>
                        <option value="BieuMau">@Define.typeNews["BieuMau"]</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Tên văn bản</label>
                    <input type="text" class="form-control" placeholder="Tên văn bản" name="title">
                </div>
                <div>
                    <label><input type="checkbox" name="isPinned">Ghim tin quan trọng</label>
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea id="description" name="description" class="form-control" rows="3" placeholder="Nội dung mô tả"></textarea>
                </div>
                <div class="form-group">
                    <label>Ký hiệu/số</label>
                    <input type="text" class="form-control" placeholder="Mã ký hiệu/số văn bản" name="documentNumber">
                </div>
                <div class="form-group">
                    <label>Ghi chú</label>
                    <input type="text" class="form-control" placeholder="Địa điểm tổ chức" name="note">
                </div>
                <div class="form-group">
                    <label>Nội dung</label>
                    <textarea id="contentHtml" name="contentHtml"></textarea>
                </div>
                <div class="form-group">
                    <label>File đính kèm</label>
                    <button type="button" id="browfile" class="btn btn-primary btn-xs">
                        <i class="fa fa-plus" aria-hidden="true"></i> Thêm tệp
                    </button>
                    <input type="hidden" id="attachedDocuments" name="attachedDocuments" placeholder="Chọn file đính kèm ..."/>
                    <table>
                        <tbody id="table-file"></tbody>
                    </table>
                </div>
                <input class="btn btn-danger" type="submit" value="Hoàn tất"/>
                <input class="btn btn-warning" type="reset" value="Reset"/>
            }
        </div>
    </div>
</div>
<script>
    $(document)
        .ready(function() {
            showListAttachedDocument();
            $("#browfile")
                .click(function() {
                    var ck = new CKFinder();
                    ck.selectActionFunction = function(fileUrl) {
                        $("#attachedDocuments").val($("#attachedDocuments").val() + ':' + fileUrl);
                        showListAttachedDocument();
                    };
                    ck.popup();
                });
        });

    function showListAttachedDocument() {
        $("#table-file").html("");
        var x = ($("#attachedDocuments").val()).substr(1);
        if (x != "") {
            var arrayFiles = x.split(":");
            $.each(arrayFiles,
                function(index, file) {
                    $("#table-file")
                        .append('<tr>' +
                            '<td><i class="fa fa-file-text-o" aria-hidden="true"></i></td>' +
                            '<td id="table-file-' +
                            index +
                            '">' +
                            decodeURI(file) +
                            '</td>' +
                            '<td><i class="fa fa-times" aria-hidden="true" onclick="deleteFile(' +
                            index +
                            ')"></i></td>' +
                            '</tr>');
                });
        }
    }

    function deleteFile(index) {
        var files = $("#attachedDocuments").val();
        var x = ":" + $("#table-file-" + index).text();
        $("#attachedDocuments").val(files.replace(encodeURI(x), ""));
        showListAttachedDocument();
        console.log("ok");
    }

    var ckeditor;

    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, { language: languageCode });
    };

    $(function() {
        createEditor('vi', 'contentHtml');
    });
</script>