@using PagedList.Mvc
@using WEBPCTSV.Helpers.Common
@model PagedList.IPagedList<WEBPCTSV.Models.bean.Question>

@{
    ViewBag.Title = "Danh sách hỏi đáp - Đại Học Bách Khoa - Đại Học Đà Nẵng";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}

<div id="maincontent">
    <div id="maincontent-section1">
        <div class="maincontent-main listbox listbox-main">
            <ol class="breadcrumb box-shadow">
                <li>
                    <a href="~/">Trang chủ</a>
                </li>
                <li>
                    <a href="#">FAQs</a>
                </li>
                <a href="/TuVan/DatCauHoi" class="btn btn-danger btn-sm btn-request-question"><i class="fa fa-plus"></i> Thêm câu hỏi</a>
            </ol>
            <div class="listbox-content">
                @foreach (var x in Model)
                {
                    <div class="listbox-content-item-sub">
                        <div class="col-xs-2">
                            <img id="tbanh" src="~/assets/images/icon/HelpIcon.png"/>
                        </div>
                        <div class="col-xs-10">
                            <div class="listbox-content-item-sub-title">
                                <a href="../TuVan/DanhSachCauHoi/ChiTiet?id=@x.IdQuestion" title="@x.Title">@StringExtension.GetLimitSubString(x.Title, 20)</a>
                            </div>
                            <div class="listbox-content-item-moreinfo">
                                <span class="listbox-content-item-moreinfo-comment date">@x.Field</span>
                            </div>
                            <p>
                            <span><a href="../TuVan/DanhSachCauHoi/ChiTiet?id=@x.IdQuestion">Xem tiếp</a></span>
                            <p>
                        </div>
                    </div>
                }
                <br/>
                <div class="menuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("../TuVan/DanhSachCauHoi", new { page = page }))
                </div>
            </div>
        </div>
    </div>

    <div class="maincontent-sidebar">
        @Html.Action("TopNewsEvent", "NewsEvent", new { count = 3 })
    </div>
</div>
<div id="resultRegister" style="display: none;">

</div>
<script src="~/js/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document)
        .ready(
            function() {
                $("#fSubscribe")
                    .validate(
                    {
                        rules: {
                            email: {
                                required: true,
                                email: true
                            }
                        },
                        messages: {
                            email: {
                                required: "Chưa nhập địa chỉ email!",
                                email: "Nhập sai định dạng địa chỉ email!"
                            }
                        },

                        submitHandler: function(form) {
                            subscribe();
                        }
                    });
            });

    function subscribe() {
        $.ajax({
            url: "admin/DangKyNhanMail",
            type: "post",
            dateType: "text",
            data: {
                mail: $('#email').val()
            },
            success: function(result) {
                $("#resultRegister").html(result);
                if ($('#result').text() == "1") {
                    alert("Đăng ký nhận mail thành công!");
                } else if ($('#result').text() == "0") {
                    alert("Đăng ký nhận mail thất bại!");
                } else if ($('#result').text() == "-1") {
                    alert("Email đã được đăng ký!");
                }
            }
        });
    }
</script>
<style type="text/css">
    label.error { color: #FF0000; }

    input.error {
        border: 2px solid #FF0000;
        border-style: ridge;
        color: #0000FF;
    }
</style>