<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Công tác sinh viên</title>
    <link href="~/css/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/MenuManager.css" rel="stylesheet" type="text/css" />
    <link href="~/css/bodyManager.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/AdminStyle.css">
    <script src="~/js/jquery-1.9.1.min.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    @*<script src="~/Content/ckeditor/ckeditor.js"></script>*@
</head>
@{
    WEBPCTSV.Models.bean.AccountSession accountSession = (WEBPCTSV.Models.bean.AccountSession)Session["AccountSession"];
}
<body ng-app="myapp">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77162536-1', 'auto');
  ga('send', 'pageview');

</script>
    <div class="menubar" id="menubar">
        @using WEBPCTSV.Models.Support;
        <div>
            <div style="height:50px;padding:10px">
                <a href="/" style="color:white;text-decoration:none;font-size:20px"><i>Công Tác Sinh Viên</i></a>
                <span id="btnMenuHiden" class="glyphicon glyphicon-chevron-left btn-hidden-menu" style="margin-left:30px;float:right;color:white;font-size:20px"></span>
            </div>

            <div style="height:120px;background-color:#808080;color:white;background-image:url('/assets/images/slide/DHBKBackGroundManage.png');background-size:100%">
                @if (Session["avatar"] != null)
                {
                    <img src="@Session["avatar"]" class="img-circle" alt="Cinque Terre" width="60" height="60" style="margin:10px" />
                }
                else
                {
                    <img src="https://maxcdn.icons8.com/office/PNG/80/Users/circled_user_male-80.png" class="img-circle" alt="Cinque Terre" width="60" height="60" style="margin:10px" />
                }
                <p style="margin-left:10px;font-size:16px">@Session["username"]</p>
            </div>
        </div>
        <div class="menu-wrapper">
            <ul class="menubar-basic">
                <li data-toggle="collapse" data-target="#menu0" class="collapsed">
                    <a href="#" title="Pannel cá nhân"><span class="glyphicon glyphicon-qrcode icon-menubar"></span> Panel cá nhân <i class="fa fa-fw fa-caret-down"></i> <span id="numberMessageUnRead2" class="badge umberMessageUnRead">0</span> </a>
                    <ul class="submenu collapse" id="menu0">
                        <li style="background-color:#242424">
                            <a href="/ManageAccount/AccountInformation" title="Thông tin tài khoản">
                                <p>
                                    <i class="fa fa-info-circle icon-menubar" aria-hidden="true"></i>Thông tin tài khoản
                                </p>
                            </a>
                        </li>
                        @if (CheckDecentralization.CheckTypeAccount(Convert.ToInt32(Session["idAccount"]), "SV"))
                        {
                            <li style="background-color:#242424">
                                <a href="/ManageRequest/ListSendRequestPaper?page=1" title="Yêu cầu giấy tờ">
                                    <p>
                                        <i class="fa fa-hand-o-right icon-menubar" aria-hidden="true"></i>Yêu cầu giấy tờ
                                    </p>
                                </a>
                            </li>
                            <li style="background-color:#242424">
                                <a href="/ManageStudent/PersonalInformation" title="Thông tin cá nhân">
                                    <p>
                                        <i class="fa fa-barcode icon-menubar" aria-hidden="true"></i>Thông tin cá nhân
                                    </p>
                                </a>
                            </li>
                        }
                        @if (CheckDecentralization.CheckTypeAccount(Convert.ToInt32(Session["idAccount"]), "NV"))
                        {
                            <li style="background-color:#242424"><a href="/ManageStaff/InfoStaff"><i class="fa fa-barcode icon-menubar" aria-hidden="true"></i>Thông tin cá nhân</a></li>
                        }
                        <li style="background-color:#242424">
                            <a href="/ManageMessage/MessageReceiveUnRead?page=1" title="Hộp thư">
                                <p>
                                    <i class="fa fa-comment icon-menubar" aria-hidden="true"></i>Hộp thư <span id="numberMessageUnRead" class="badge">0</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>

                @if (accountSession.Functions.IndexOf("ManageQuestion") != -1)
                {
                    <li class="@(@ViewBag.Active=="TuVan"?"active":"")">
                        <a href="~/QuanLy/QuanLyCauHoi" class="item-content item-link" title="Quản lý tư vấn">
                            <p>
                                <i class="fa fa-question-circle icon-menubar fa-fw"></i>Quản lý tư vấn
                            </p>
                        </a>
                    </li>
                }
                @if (accountSession.Functions.IndexOf("ManageBanner") != -1)
                {
                    <li class="@(@ViewBag.Active=="SlideAnh"?"active":"")">
                        <a href="~/QuanLy/QuanLyBanner" class="item-content item-link" title="Quản lý slide ảnh">
                            <p>
                                <i class="fa fa-picture-o icon-menubar fa-fw"></i>Quản lý slide ảnh
                            </p>
                        </a>
                    </li>
                }
                @if (accountSession.Functions.IndexOf("ManageNews") != -1)
                {
                    <li class="@(@ViewBag.Active == "VanBanBieuMau" || @ViewBag.Active == "TinTuc" || @ViewBag.Active == "SuKien" || @ViewBag.Active == "HocBong" || @ViewBag.Active == "TuyenDung" ? "active" : "")" data-toggle="collapse" data-target="#collapse-news">
                        <a href="javascript:;" title="Quản lý tin tức">
                            <i class="fa fa-newspaper-o icon-menubar fa-fw"></i>Quản lý tin tức <i class="fa fa-fw fa-caret-down"></i>
                        </a>
                        <ul id="collapse-news" class="collapse">
                            <li class="@(@ViewBag.Active=="TinTuc"?"child-active":"inactive")">
                                <a href="~/QuanLy/QuanLyTinTuc" class="item-content item-link" title="Quản lý thông báo">
                                    <p>
                                        <i class="fa fa-bullhorn icon-menubar fa-fw" aria-hidden="true"></i>Quản lý thông báo
                                    </p>
                                </a>
                            </li>
                            <li class="@(@ViewBag.Active == "SuKien" ? "child-active" : "inactive")">
                                <a href="~/QuanLy/QuanLySuKien" class="item-content item-link">
                                    <i class="fa fa-flag-checkered icon-menubar fa-fw"></i>Quản lý sự kiện
                                </a>
                            </li>
                            <li class="@(@ViewBag.Active == "HocBong" ? "child-active" : "inactive")">
                                <a href="~/QuanLy/QuanLyHocBong" class="item-content item-link">
                                    <i class="fa fa-graduation-cap icon-menubar fa-fw"></i>Quản lý học bổng
                                </a>
                            </li>
                            <li class="@(@ViewBag.Active == "TuyenDung" ? "child-active" : "inactive")">
                                <a href="~/QuanLy/QuanLyTuyenDung" class="item-content item-link">
                                    <i class="fa fa-user-plus icon-menubar fa-fw"></i>Quản lý tuyển dụng
                                </a>
                            </li>
                            @if (accountSession.Functions.IndexOf("ManageDocument") != -1)
                            {
                                <li class="@(@ViewBag.Active=="VanBanBieuMau"?"active":"")">
                                    <a href="~/QuanLy/QuanLyVanBan" class="item-content item-link">
                                        <i class="fa fa-file-o icon-menubar fa-fw"></i>Văn bản biểu mẫu
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                @*@if (accountSession.Functions.IndexOf("ManageAlumni") != -1)
                    {
                        <li class="@(@ViewBag.Active == "AlumniInfo" || @ViewBag.Active == "AlumniNewsList" ? "active" : "")" data-toggle="collapse" data-target="#collapse-alumni">
                            <a href="javascript:;">
                                <i class="fa fa-newspaper-o icon-menubar fa-fw"></i>Cựu sinh viên <i class="fa fa-fw fa-caret-down"></i>
                            </a>
                            <ul id="collapse-alumni" class="collapse">
                                <li class="@(@ViewBag.Active=="AlumniInfo"?"child-active":"inactive")">
                                    <a href="~/QuanLy/ThongTinCSV" class="item-content item-link">
                                        <i class="fa fa-newspaper-o icon-menubar fa-fw"></i>Thông tin Cựu sinh viên
                                    </a>
                                </li>
                                <li class="@(@ViewBag.Active == "AlumniNewsList" ? "child-active" : "inactive")">
                                    <a href="~/QuanLy/QuanLyCuuSinhVien" class="item-content item-link">
                                        <i class="fa fa-flag-checkered icon-menubar fa-fw"></i>Quản lý bài viết
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }*@
                @if (accountSession.Functions.IndexOf("ManageLecturer") != -1)
                {
                    <li class="@(@ViewBag.Active == "CongTacGVCN" ? "active" : "")" data-toggle="collapse" data-target="#collapse-lecturer">
                        <a href="javascript:;">
                            <i class="fa fa fa-users icon-menubar fa-fw"></i>Công tác GVCN <i class="fa fa-fw fa-caret-down"></i>
                        </a>
                        <ul id="collapse-lecturer" class="collapse">
                            <li class="@(@ViewBag.Active=="AlumniInfo"?"child-active":"inactive")">
                                <a href="~/QuanLy/QuanLyGVCN" class="item-content item-link">
                                    <p>
                                        <i class="fa fa fa-user icon-menubar fa-fw"></i>Giảng viên chủ nhiệm
                                    </p>
                                </a>
                            </li>
                            @*<li class="@(@ViewBag.Active == "AlumniNewsList" ? "child-active" : "inactive")">
                                <a href="~/QuanLy/QuanLyGiayTo" class="item-content item-link">
                                    <p>
                                        <i class="fa fa-file-text-o icon-menubar fa-fw"></i>Quản lý giấy tờ
                                    </p>
                                </a>
                            </li>*@
                        </ul>
                    </li>
                }
                @if (accountSession.Functions.IndexOf("ManageConduct") != -1)
                {
                    <li class="@(@ViewBag.Active == "RenLuyen" ? "active" : "")" data-toggle="collapse" data-target="#collapse-conduct">
                        <a href="javascript:;">
                            <i class="fa fa-list-alt icon-menubar fa-fw"></i>Quản lý rèn luyện <i class="fa fa-fw fa-caret-down"></i>
                        </a>
                        <ul id="collapse-conduct" class="collapse">
                            <li class="@(@ViewBag.Active == "RenLuyen" ? "child-active" : "inactive")">
                                <a href="~/QuanLy/QuanLyRenLuyen" class="item-content item-link">
                                    <p>
                                        <i class="fa fa-check-square-o icon-menubar fa-fw"></i>Đánh giá rèn luyện
                                    </p>
                                </a>
                            </li>
                            <li class="@(@ViewBag.Active == "DotRenLuyen" ? "child-active" : "inactive")">
                                <a href="~/QuanLy/QuanLyRenLuyen/DotXetRenLuyen" class="item-content item-link">
                                    <p>
                                        <i class="fa fa-calendar icon-menubar fa-fw"></i>Đợt xét rèn luyện
                                    </p>
                                </a>
                            </li>
                            <li class="@(@ViewBag.Active == "MauRenLuyen" ? "child-active" : "inactive")">
                                <a href="~/QuanLy/QuanLyRenLuyen/MauXetRenLuyen" class="item-content item-link">
                                    <p>
                                        <i class="fa fa-file-text-o icon-menubar fa-fw"></i>Mẫu xét rèn luyện
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                @*@if (accountSession.Functions.IndexOf("ManageAccount") != -1)
                    {
                        <li class="@(@ViewBag.Active == "ThanhVien" ? "active" : "")">
                            <a href="javascript:;" data-toggle="collapse" data-target="#collapse-account" class="item-content item-link">
                                <i class="fa fa-newspaper-o icon-menubar"></i> Quản lý thành viên <i class="fa fa-fw fa-caret-down"></i>
                            </a>
                            <ul id="collapse-account" class="collapse">
                                <li class="@(@ViewBag.Active == "AlumniNewsList" ? "child-active" : "inactive")">
                                    <a href="~/QuanLy/QuanLyTuVanVien" class="item-content item-link">
                                        <i class="fa fa-flag-checkered icon-menubar"></i> Quản lý tư vấn viên
                                    </a>
                                </li>
                                <li class="@(@ViewBag.Active=="AlumniInfo"?"child-active":"inactive")">
                                    <a href="~/QuanLy/QuanLyNhanSu" class="item-content item-link">
                                        <i class="fa fa-newspaper-o icon-menubar"></i> Cơ cấu nhân sự
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }*@























                @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlygiayto"))
                {
                    <li data-toggle="collapse" data-target="#menu1" class="collapsed">
                        <a href="#"><span class="glyphicon glyphicon-paperclip icon-menubar"></span> Quản lý giấy tờ <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul class="submenu collapse" id="menu1">
                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "themgiayto"))
                            {
                                <li style="background-color:#242424">
                                    <a href="/ManagePaper/Index">
                                        <p>
                                            <i class="fa fa-plus-square icon-menubar" aria-hidden="true">
                                            </i>Thêm giấy tờ
                                        </p>
                                    </a>
                                </li>
                            }
                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "chinhsuagiayto"))
                            {
                                <li style="background-color:#242424">
                                    <a href="/ManagePaper/ListPaper">
                                        <p>
                                            <i class="fa fa-file-word-o icon-menubar" aria-hidden="true"></i> Danh sách giấy tờ
                                        </p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>

                }

                @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlyyeucaugiayto"))
                {
                    <li><a href="/ManageRequest/ListAllRequestPaper?value=0&page=1"><p><span class="glyphicon glyphicon-saved icon-menubar"></span> Quản lý yêu cầu</p></a></li>
                }

                @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlytaikhoan"))
                {
                    <li data-toggle="collapse" data-target="#menu5" class="collapsed">
                        <a href="#"><i class="fa fa-users icon-menubar" aria-hidden="true"></i> Quản lý tài khoản <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul class="submenu collapse" id="menu5">
                            <li style="background-color:#242424"><a href="/ManageAccount/GetListAccount?page=1"><p><i class="fa fa-users icon-menubar" aria-hidden="true"></i>Danh sách tài khoản</p></a></li>

                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "xemdanhsachsinhvien"))
                            {
                                <li style="background-color:#242424"><a href="/ManageStudent/ListStudent?page=1"><i class="fa fa-list-ol icon-menubar" aria-hidden="true"></i>Danh sách sinh viên</a></li> }

                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlynhanvien"))
                            {
                                <li>
                                    <a href="/ManageStaff/ListStaff"><i class="fa fa-credit-card icon-menubar" aria-hidden="true"></i>Quản lý nhân viên</a>
                                </li>
                            }
                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlyphanquyen"))
                            {
                                <li><a href="/ManageDecentralization/Index"><span class="glyphicon glyphicon-saved icon-menubar"></span>Quản lý phân quyền</a></li>
                            }
                        </ul>
                    </li>
                }

                @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlyhocbong"))
                {
                    <li data-toggle="collapse" data-target="#menu7" class="collapsed">
                        <a href="#"><span class="glyphicon glyphicon-usd icon-menubar"></span> Quản lý học bổng <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul class="submenu collapse" id="menu7">
                            <li style="background-color:#242424"><a href="/StudentShip/ImportScoteStudent"><i class="fa fa-upload icon-menubar" aria-hidden="true"></i>Nhập dữ liệu đâu vào</a></li>
                            @*<li style="background-color:#242424"><a href="/StudentShip/ListStudentShip?page=1">Danh sách học bổng dự kiến </a></li>*@
                            <li style="background-color:#242424"><a href="/StudentShip/SelectSemesterScoteStudent"><i class="fa fa-file-o icon-menubar" aria-hidden="true"></i>kết quả học tập</a></li>
                            <li style="background-color:#242424"><a href="/StudentShip/SelectSemester"><i class="fa fa-graduation-cap icon-menubar" aria-hidden="true"></i>Xét học bổng</a></li>
                        </ul>
                    </li>
                }


                @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlyhethong"))
                {
                    <li data-toggle="collapse" data-target="#menu6" class="collapsed">
                        <a href="#"><span class="glyphicon  glyphicon-cog icon-menubar"></span> Quản lý hệ thống chung <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul class="submenu collapse" id="menu6">
                            @if (accountSession.Functions.IndexOf("ManageConfigWebsite") != -1)
                            {
                                <li class="@(@ViewBag.Active == "ConfigWebsite" ? "active" : "")">
                                    <a href="/QuanLy/CauHinhWebsite" class="item-content item-link">
                                        <i class="fa fa-cogs icon-menubar"></i> Cấu hình website
                                    </a>
                                </li>
                            }
                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlyhoatdongxahoi"))
                            {
                                <li style="background-color:#242424"><a href="/SocialActivity/ManageSocialActivity?page=1"><i class="fa fa-futbol-o icon-menubar" aria-hidden="true"></i>Hoạt động xã hội</a></li> }
                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlyngoaingu"))
                            {
                                <li style="background-color:#242424"><a href="/ManageCommonSystem/SecondLanguage"><i class="fa fa-language icon-menubar" aria-hidden="true"></i> Ngoại ngữ</a></li>
                            }
                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlychucvu"))
                            {
                                <li style="background-color:#242424"><a href="/ManageCommonSystem/Regency"><i class="fa fa-cubes icon-menubar" aria-hidden="true"></i>Chức vụ</a></li>}

                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlyhocky"))
                            {
                                <li style="background-color:#242424"><a href="/ManageCommonSystem/Semester"><i class="fa fa-calendar icon-menubar" aria-hidden="true"></i>Học kỳ </a></li> }

                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlylop"))
                            {
                                <li style="background-color:#242424"><a href="/ManageClass/Class"><i class="fa fa-bank icon-menubar" aria-hidden="true"></i>Lớp</a></li> }

                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlykhoa"))
                            {
                                <li style="background-color:#242424"><a href="/ManageClass/Faculty"><i class="fa fa-industry icon-menubar" aria-hidden="true"></i>Khoa</a></li>}

                            @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "quanlykhoas"))
                            {
                                <li style="background-color:#242424"><a href="/ManageClass/Course"><i class="fa fa-calendar-o icon-menubar" aria-hidden="true"></i>Khóa</a></li> }

                        </ul>
                    </li>
                }
                <li>
                    <a href="~/Logout" class="item-content item-link close-panel">
                        <i class="fa fa-power-off icon-menubar fa-fw"></i>Thoát
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bodyrender">
        <div class="mobile-tabbar">
            <span id="btnMemu" class="glyphicon glyphicon-tasks" style="color:white;margin:15px;font-size:18px"></span>
        </div>
        @RenderBody()
        <hr />
        <footer style="float:right">
            <p>@*&copy; @DateTime.Now.Year - My ASP.NET Application*@</p>
        </footer>
    </div>

    <div id="modal-announcement" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="alert cssload-container-over" style="display:none;"></div>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">THÔNG BÁO</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-announcement-message">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    @{
        if (Session["numberMessagerUnread"] == null)
        {
            Session["numberMessagerUnread"] = 0;
        }
    }

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/angular-sanitize.min.js"></script>
    <script src="~/js/angularjs/app.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnMemu").click(function () {
                $("#menubar").addClass("menubar-show");
            });
            $("#btnMenuHiden").click(function () {
                $("#menubar").removeClass("menubar-show");
            });

            $('[data-tooltip="true"]').tooltip();
        });

        function loadIconLoading(element) {
            // Load icon when do ajax request
            element.html('<div class="cssload-spin-box"></div>');
        }
        function unloadIconLoading(element) {
            // Load icon when do ajax request
            element.html('');
        }

        // Notification
        document.addEventListener('DOMContentLoaded', function () {
            if (Notification.permission !== "granted")
                Notification.requestPermission();
        });

        function notifyMe() {
            if (!Notification) {
                alert('Desktop notifications not available in your browser. Try Chromium.');
                return;
            }

            if (Notification.permission !== "granted")
                Notification.requestPermission();
            else {
                $.ajax({
                    url: "/ManageMessage/GetLastMessageReceiveUnRead",
                    type: "post",
                    success: function (result) {
                        var notification = new Notification(result.title, {
                            icon: result.image,
                            body: result.data,
                        });

                        notification.onclick = function () {
                            window.location.href = "/ManageMessage/MessageReceiveUnRead?page=1";
                            notification.close();
                        };
                    }
                });



            }
        }


        if (typeof (Worker) !== "undefined") {
            // Trình duyệt hỗ trợ Web worker!
            // Viết tiếp các mã javascript
            var worker = new Worker("/js/LayoutManageWebworker.js");
            worker.onmessage = function (event) {
                alert("adad");
                if (event.data == "1")
                {
                    notifyMe();

                }
                if(@Session["numberMessagerUnread"]!=null)
                {
                    document.getElementById("numberMessageUnRead").innerHTML = '@Session["numberMessagerUnread"].ToString()';
                    document.getElementById("numberMessageUnRead2").innerHTML = '@Session["numberMessagerUnread"].ToString()';
                }
            
            };
        } else {
            // Rất tiếc! Trình duyệt không hỗ trợ Web Worker..
        }
    </script>
</body>
</html>
