@using WEBPCTSV.Models.bean;
@using WEBPCTSV.Helpers.Common;
@model PagedList.IPagedList<Lecturer>
@using PagedList.Mvc;

<div class="list-tile">
    @if (Model != null  && Model.Count() > 0)
    {
        int i = 0;
        foreach (var x in Model)
        {
            <div class="col-md-6 col-xs-12">
                <div class="list-tile-item listbox-content-item-sub">
                    <div class="list-tile-item-image col-md-3 col-xs-3">
                        <img id="tbanh" src="~/Images/logo.jpg" />
                    </div>
                    <div class="list-tile-item-content col-md-9 xol-xs-9">
                        <p>@StringExtension.GeneratePrefixLecturer(x.AcademicTitle, x.Degree, x.Type) @x.LastName @x.FirstName</p>
                        <p>Chức vụ : @x.Position</p>
                        <p>Điện thoại : @x.PhoneNumber</p>
                        <p>Email : @x.Email</p>
                        <p>Khoa : @x.Faculty.FacultyName</p>
                        <p>
                            Chủ nhiệm lớp:
                            <div>
                                @foreach (LecturerClass classIterate in x.LecturerClasses.Where(c => c.IdSemester.Equals(ViewBag.IdSemester)))
                                {
                                    <span class="lecturer-class label-link" onclick="detailClass('@classIterate.IdLecturerClass')">@classIterate.Class.ClassName </span>
                                }
                            </div>
                        </p>
                    </div>
                </div>

            </div>
            if (++i % 2 == 0)
            {
            <div class="clearfix"></div>
            }
        }
    }
    else
    {
        <h4 style="text-align:center">Không tìm thấy kết quả phù hợp!</h4>
    }
</div>
<div class="menuTrang">
    @Html.PagedListPager(Model, page => Url.Action("../CongTac/DanhSachGVCN", new { page = page }))
</div>
