@using WEBPCTSV.Models.bean
<div class="listbox listbox-sidebar event-box">
    <div class="listbox-title">
        <a href="/TuyenDung">
            <h4><i class="fa fa-mortar-board"></i> THÔNG TIN TUYỂN DỤNG</h4>
        </a>
        <i class="fa fa-arrow-right"></i>
    </div>
    <div class="listbox-content">
        @foreach (NewsJob x in @ViewBag.topNewsJob)
        {
            <div class="listbox-content-item">
                <div class="listbox-content-item-title">
                    <p><a href="../TuyenDung/ChiTiet?id=@x.IdNewsJob" title="@x.News.Title">@WEBPCTSV.Helpers.Common.StringExtension.GetLimitSubString(x.News.Title, 10)</a>
                </div>
                <div class="listbox-content-item-moreinfo">
                    <span class="listbox-content-item-moreinfo-comment date"><i class="fa fa-calendar"></i> @x.News.CreatedDate.Day/@x.News.CreatedDate.Month/@x.News.CreatedDate.Year</span>
                    <span class="listbox-content-item-moreinfo-comment date"><i class="fa fa-mortar-board"></i> @x.Company</span>
                </div>
            </div>
        }
    </div>
</div>