@using WEBPCTSV.Models.bean;
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "Class";
}

<h3 class="header-paper">Quản lý học kỳ</h3>


<div ng-controller="ManageSemester" class="container-layoutmanager">

    <table class="table table-hover" style="width:500px">
        <thead>
            <tr>
                <th>STT</th>
                <th>Học kỳ</th>
                <th>Năm học</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int stt = 1;
            }
            @foreach (Semester semester in ViewBag.Semester)
            {
                <tr>
                    <td>@stt</td>
                    <td>@semester.SemesterYear.SemesterYearName</td>
                    <td>@semester.Year.YearName</td>
                    <td>

                        <label class="label label-success" data-toggle="modal" data-target="#modalEditSemester_@semester.IdSemester">Edit</label>
                        <div id="modalEditSemester_@semester.IdSemester" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <form class="modal-content" action="/ManageCommonSystem/UpdateSemester?idSemester=@semester.IdSemester" method="post">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"> Chỉnh sửa học kì</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label class="control-label col-sm-5" for="email">Thời gian bắt đầu:</label>
                                                <div class="col-sm-7">
                                                    <input name="begintime" value="@((semester.BeginTime==null)?"":semester.BeginTime.Value.ToString("yyyy-MM-dd"))" type="date" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-5" for="email">Thời gian kết thúc:</label>
                                                <div class="col-sm-7">
                                                    <input name="endTime" value="@((semester.EndTime==null)?"":semester.EndTime.Value.ToString("yyyy-MM-dd"))" type="date" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" style="float:left"> Lưu chỉnh sửa  </button>
                                        <a href="/ManageCommonSystem/DeleteSemester?idSemester=@semester.IdSemester"><input type="button" class="btn btn-danger" style="float:left" value="Xóa" /></a>
                                        <button type="button" class="btn btn-default" onclick="window.location.reload();" data-dismiss="modal">Đóng</button>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </td>
                </tr>
                stt++;
            }
        </tbody>
    </table>

    <a href="/ManageCommonSystem/AddSemester"><label class="btn btn-primary" style="margin-top:10px">Mở học kỳ mới</label></a>
    
</div>








