@{
    ViewBag.Title = "Cấu hình website";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<script src="~/Content/ckfinder/ckfinder.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<ol class="breadcrumb box-shadow">
    <li>
        <a href="TrangChu">Trang chủ</a>
    </li>
    <li class="active">Thông tin cựu sinh viên</li>
</ol>

<div class="main-content">
    @using (Html.BeginForm("CauHinhWebsite", "QuanLy", FormMethod.Post, new { @Id = "fUpdateInfo" }))
    {
        <div class="resource form-group">
            <label class="resource-title">
                @ViewBag.functionAndDuty.ResourceName
            </label>
            <textarea class="editor" id="N_@ViewBag.functionAndDuty.IdResource" name="N_ @ViewBag.functionAndDuty.IdResource">@ViewBag.functionAndDuty.ResourceContent</textarea>
        </div>
        <div class="resource form-group">
            <label class="resource-title">
                @ViewBag.lecturerOperation.ResourceName
            </label>
            <textarea class="editor" id="N_@ViewBag.lecturerOperation.IdResource" name="N_@ViewBag.lecturerOperation.IdResource">@ViewBag.lecturerOperation.ResourceContent</textarea>
        </div>
        <div class="resource form-group">
            <label class="resource-title">
                @ViewBag.visionAndMission.ResourceName
            </label>
            <textarea class="editor" id="N_@ViewBag.visionAndMission.IdResource" name="N_@ViewBag.visionAndMission.IdResource">@ViewBag.visionAndMission.ResourceContent</textarea>
        </div>
        <div class="btn-group">
            <input type="submit" class="btn btn-success" value="Cập nhật"/>
        </div>
    }
</div>

<script language="javascript" type="text/javascript">
    var ckeditor;

    function createEditor(languageCode, id) {

        var editor = CKEDITOR.replace(id, { language: languageCode });
    };

    $('.editor')
        .each(function() {
            createEditor('vi', $(this).attr("name"));
        });
</script>