@model WEBPCTSV.Models.bean.NewsJob
@{
    ViewBag.Title = Model != null ? Model.News.Title + " - Tuyển dụng trường Đại Học Bách Khoa - Đại Học Đà Nẵng" : "Tuyển dụng trường Đại Học Bách Khoa - Đại Học Đà Nẵng";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}
<div id="maincontent">
    <div id="maincontent-section1">
        <div class="maincontent-main listbox listbox-main">
            @if (Model == null)
            {
                <div style="font-size: 16px; margin-top: 20px; text-align: center;">Không tìm thấy bài viết!</div>
            }
            else
            {
                <ol class="breadcrumb box-shadow">
                    <li>
                        <a href="~/">Trang chủ</a>
                    </li>
                    <li>
                        <a href="~/TuyenDung">Tuyển dụng</a>
                    </li>
                    <li class="active">@(Model.News.Title) </li>
                </ol>
                <div class="news-detail">
                    <h3>@(Model.News.Title) </h3>
                    <div class="news-detail-time text-muted">
                        <i class="fa fa-clock-o"></i> @(Model.News.CreatedDate.ToString("hh:mm tt - dd/MM/yyyy"))
                    </div>
                    <div class="news-detail-more-info">
                        <strong>Nhà tuyển dụng</strong>
                        <p>@(Model.Company)</p>
                        <strong>Yêu cầu</strong>
                        <p>@(Model.Requirement)</p>
                    </div>
                    <div class="news-detail-content">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.News.ContentHtml))

                        @if (!WEBPCTSV.Helpers.Common.StringExtension.IsNullOrWhiteSpace(Model.News.AttachedDocuments))
                        {
                            string link = Model.News.AttachedDocuments.Substring(1);
                            string[] arrlink = link.Split(',');
                            <p style="font-weight: bold;">Các tệp tin đính kèm:</p>
                            <div id="file-download">
                                @foreach (string nLink in arrlink)
                                {
                                    string[] fileName = nLink.Split('/');
                                    <p class="itemFileDownload">
                                        <i id="icon1" class="fa fa-file-text-o"></i>
                                        <a id="link1" href="@nLink">
                                            @HttpUtility.UrlDecode(@fileName[fileName.Length - 1])
                                        </a>
                                        <a id="download" class="itemButton" href="@nLink">
                                            <i class="fa fa-download"></i>
                                            Tải về
                                        </a>
                                        <span id="viewButton" class="itemButton" onclick="viewPdf('@nLink')"><i class="fa fa-eye"></i> Xem</span>
                                    </p>
                                }
                            </div>
                            <div id="pdfViewer" style="display: none; margin-top: 5px;">
                            </div>
                        }
                    </div>

                </div>
            }
        </div>
        <div class="maincontent-sidebar">
            @Html.Action("TopNewsJob", "NewsJob", new { count = 5 })
        </div>
    </div>
</div>
<script language="javascript">
    function viewPdf(link) {
        $('#pdfViewer').attr("style", "margin-top:5px;");
        $('#pdfViewer')
            .html("<iframe src='//docs.google.com/viewer?url=http://ctsv.dut.udn.vn:8081" +
                link +
                "&amp;hl=vi&amp;embedded=true' class='gde-frame' style='width:100%; height:500px; border: none;' scrolling='no' data-proportion='NaN'></iframe>");
        $('html, body')
            .animate({
                    scrollTop: $('#pdfViewer').offset().top - 70
                },
                1000);
    }
</script>