@using WEBPCTSV.Models.bean;
@model News
@{
    ViewBag.Title = (Model != null ? Model.Title + " - Tin giáo dục pháp luật Phòng Công Tác Sinh Viên trường Đại Học Bách Khoa - Đại Học Đà Nẵng" : "Chi tiết tin giáo dục pháp luật phòng Công tác sinh viên - Đại Học Bách Khoa - Đại Học Đà Nẵng");
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}

<div id="maincontent">
    <div id="maincontent-section1">
        <div class="maincontent-main listbox listbox-main">
            @if (Model == null)
            {
                <div style="text-align:center; font-size:16px;margin-top:20px;">Không tìm thấy bài viết!</div>
            }
            else
            {
                <ol class="breadcrumb box-shadow">
                    <li><a href="~/">Trang chủ</a></li>
                    <li><a href="~/GiaoDucPhapLuat">Giáo dục pháp luật</a></li>
                    <li class="active">@(Model.Title) </li>
                </ol>
                <div class="news-detail">
                    <h3>@(Model.Title)</h3>
                    <div class="news-detail-time text-muted">
                        <i class="fa fa-clock-o"></i> @(Model.CreatedDate.ToString("hh:mm tt - dd/MM/yyyy"))
                    </div>
                    <div class="news-detail-content">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.ContentHtml))
                        @if (Model.AttachedDocuments != null)
                        {
                            if (!(WEBPCTSV.Helpers.Common.StringExtension.IsNullOrWhiteSpace(Model.AttachedDocuments)))
                            {
                                String link = Model.AttachedDocuments.Substring(1);
                                String[] arrlink = link.Split(':');
                                <p style="font-weight :bold;">Các tệp tin đính kèm:</p>
                                <div id="file-download">
                                    @foreach (String nLink in arrlink)
                                    {
                                        String[] fileName = nLink.Split('/');
                                        <p class="itemFileDownload">
                                            <i id="icon1" class="fa fa-file-text-o"></i>
                                            <a id="link1" href="@nLink">
                                                @HttpUtility.UrlDecode(@fileName[fileName.Length - 1])
                                            </a>
                                            <a id="download" class="itemButton" href="@nLink">
                                                <i class="fa fa-download"></i>
                                                Tải về
                                            </a>
                                            <span id="viewButton" class="itemButton" onclick="viewPdf('@nLink')"><i class="fa fa-eye"></i> Xem trước</span>
                                        </p>
                                    }
                                </div>
                                <div id="pdfViewer" style="display:none; margin-top:5px;">
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>

        <div class="maincontent-sidebar">
            @Html.Action("TopNews", "News", new { count = 5 })
        </div>
        <div class="xoa"></div>
    </div>
</div>
<script language="javascript">
    function viewPdf(link) {
        $('#pdfViewer').attr("style", "margin-top:5px;");
        $('#pdfViewer').html("<iframe src='//docs.google.com/viewer?url=http://ctsv.dut.udn.vn:8081" + link + "&amp;hl=vi&amp;embedded=true' class='gde-frame' style='width:100%; height:500px; border: none;' scrolling='no' data-proportion='NaN'></iframe>");
        $('html, body').animate({
            scrollTop: $('#pdfViewer').offset().top - 70
        }, 1000);
    }
</script>
