@using PagedList.Mvc
@using WEBPCTSV.Helpers.Common
@model PagedList.IPagedList<WEBPCTSV.Models.bean.News>

@{
    ViewBag.Title = "Tin giáo dục pháp luật Phòng Công Tác Sinh Viên trường Đại Học Bách Khoa - Đại Học Đà Nẵng";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}

<div id="maincontent">
    <div id="maincontent-section1">
        <div class="maincontent-main listbox listbox-main">
            <ol class="breadcrumb box-shadow">
                <li>
                    <a href="~/">Trang chủ</a>
                </li>
                <li>Sinh viên</li>
                <li class="active">Giáo dục pháp luật</li>
            </ol>
            <div class="listbox-content">
                @foreach (var x in Model)
                {
                    <div class="listbox-content-item-sub">
                        <div class="col-xs-2">
                            <img id="tbanh" src="@(StringExtension.IsNullOrWhiteSpace(x.Image) ? "/Images/logo.jpg" : x.Image)"/>
                        </div>
                        <div class="col-xs-10">
                            <div class="listbox-content-item-sub-title">
                                <a href="~/GiaoDucPhapLuat/ChiTiet?id=@x.IdNews" title="@x.Title">@(StringExtension.GetLimitSubString(x.Title, 20))</a>
                            </div>
                            @if (x.IsPinned.Value)
                            {
                                <div class="listbox-content-item-moreinfo-comment date">
                                    <span class="label label-danger">
                                        <i class="fa fa-thumb-tack" aria-hidden="true"></i> Quan trọng
                                    </span>
                                </div>
                            }
                            <div class="listbox-content-item-moreinfo">
                                <span class="listbox-content-item-moreinfo-comment date"><i class="fa fa-calendar"></i> @x.CreatedDate.Day/@x.CreatedDate.Month/@x.CreatedDate.Year</span>
                            </div>
                            <p>
                            <span><a href="~/GiaoDucPhapLuat/ChiTiet?id=@x.IdNews">Xem tiếp</a></span>
                            <p>
                        </div>
                    </div>
                }
                <br/>
                <div class="menuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("../GiaoDucPhapLuat", new { page = page }))
                </div>
            </div>
        </div>
        <div class="maincontent-sidebar">
            @Html.Action("TopNewsEvent", "NewsEvent", new { count = 3 })
        </div>
    </div>
</div>