@using WEBPCTSV.Models.bean
@model Lecturer

@{
    ViewBag.Title = "Chi tiết giảng viên chủ nhiệm";
    ViewBag.Active = "UpdateLecturer";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<link href="~/css/select2.min.css" rel="stylesheet"/>
<script src="~/js/select2.min.js"></script>

<script src="~/js/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document)
        .ready(
            function() {
                $("#fUpdateLecturer")
                    .validate(
                    {
                        rules: {
                            FirstName: {
                                required: true,
                            },
                            LastName: {
                                required: true,
                            },
                            LecturerNumber: {
                                required: true,
                            },
                            PhoneNumber: {
                                digits: true,
                            },
                            Email: {
                                email: true
                            },
                            Faculty: {
                                required: true,
                            }
                        },
                        messages: {
                            FirstName: {
                                required: "Chưa nhập tên giảng viên!",
                            },
                            LastName: {
                                required: "Chưa nhập họ giảng viên!",
                            },
                            LecturerNumber: {
                                required: "Chưa nhập mã số giảng viên!",
                            },
                            PhoneNumber: {
                                digits: "Nhập sai định dạng số điện thoại!",
                            },
                            Email: {
                                email: "Nhập sai định dạng email!"
                            },
                            Faculty: {
                                required: "Chưa chọn khoa!",
                            }
                        },
                        submitHandler: function(form) {
                            updateLecturerInformation();
                        }
                    });
            });
</script>
<style type="text/css">
    label.error { color: #FF0000; }

    input.error {
        border: 2px solid #FF0000;
        border-style: ridge;
        color: #0000FF;
    }
</style>

<ol class="breadcrumb box-shadow">
    <li>
        <a href="TrangChu">Trang chủ</a>
    </li>
    <li>
        <a href="~/QuanLy/QuanLyGVCN">Công tác giảng viên chủ nhiệm</a>
    </li>
    <li class="active">Cập nhật thông tin chủ nhiệm</li>
</ol>

<div class="main-content">
    <div class="col-xs-12 col-sm-12">
        <div class="main-form">
            @using (Html.BeginForm("CapNhat", "QuanLy/QuanLyGVCN", FormMethod.Post, new { @id = "fUpdateLecturer", @class = "form-horizontal" }))
            {
                <input class="hidden form-idLecturer" name="IdLecturer" value="@Model.IdLecturer"/>
                <div class="form-group">
                    <label class="control-label col-sm-2">Mã giảng viên</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Mã số giảng viên" id="lecturernumber" name="LecturerNumber" value="@Model.LecturerNumber">
                    </div>
                    <label class="control-label col-sm-2">Mã ngạch</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="Type">
                            <option value="GV" @(Model.Type.Equals("GV") ? "selected" : string.Empty)>Giảng viên</option>
                            <option value="GVC" @(Model.Type.Equals("GVC") ? "selected" : string.Empty)>Giảng viên chính</option>
                            <option value="GVCC" @(Model.Type.Equals("GVCC") ? "selected" : string.Empty)>Giảng viên cao cấp</option>
                            <option value="CBPV" @(Model.Type.Equals("CBPV") ? "selected" : string.Empty)>Cán bộ phục vụ</option>
                            <option value="Trợ giảng" @(Model.Type.Equals("Trợ giảng") ? "selected" : string.Empty)>Trợ giảng</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Họ và tên đệm</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Họ và tên đệm" name="LastName" value="@Model.LastName">
                    </div>
                    <label class="control-label col-sm-2">Tên</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Tên" name="FirstName" value="@Model.FirstName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Học hàm</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="AcademicTitle">
                            <option value="">Chọn học hàm</option>
                            <option value="PGS" @(Model.AcademicTitle.Equals("PGS") ? "selected" : string.Empty)>Phó giáo sư</option>
                            <option value="GS" @(Model.AcademicTitle.Equals("GS") ? "selected" : string.Empty)>Giáo sư</option>
                        </select>
                    </div>
                    <label class="control-label col-sm-2">Học vị</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="Degree">
                            <option value="">Chọn học vị</option>
                            <option value="CN" @(Model.Degree.Equals("CN") ? "selected" : string.Empty)>Cử nhân</option>
                            <option value="KS" @(Model.Degree.Equals("KS") ? "selected" : string.Empty)>Kỹ sư</option>
                            <option value="ThS" @(Model.Degree.Equals("ThS") ? "selected" : string.Empty)>Thạc sĩ</option>
                            <option value="TS" @(Model.Degree.Equals("TS") ? "selected" : string.Empty)>Tiến sĩ</option>
                            <option value="TSKH" @(Model.Degree.Equals("TSKH") ? "selected" : string.Empty)>Tiến sĩ khoa học</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">Chức vụ</label>
                    <div class="col-sm-4">
                        <input class="form-control" name="Position" value="@Model.Position">
                    </div>
                    <label class="control-label col-sm-2">Khoa</label>
                    <div class="col-sm-4">
                        <select class="form-control Faculty" name="Faculty" onchange="changeFaculty()">
                            <option value="">Chọn khoa</option>
                            @foreach (Faculty faculty in ViewBag.faculties)
                            {
                                <option @(@Model.Faculty.IdFaculty == @faculty.IdFaculty ? "selected" : string.Empty) value="@faculty.IdFaculty">@faculty.FacultyName</option>
                            }
                        </select>
                        <div class="hide faculty-acronym">
                            @foreach (Faculty faculty in ViewBag.faculties)
                            {
                                <span class="F@(faculty.IdFaculty)">@faculty.NumberFaculty</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Email</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Địa chỉ email" name="Email" value="@Model.Email">
                    </div>
                    <label class="control-label col-sm-2">Điện thoại</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Số điện thoại" name="PhoneNumber" value="@Model.PhoneNumber">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Địa chỉ</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Địa chỉ" name="Address" value="@Model.Address">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Lớp chủ nhiệm</label>
                    <div class="col-sm-10">
                        <a class="btn btn-success btn-sm add-classowner" href="#">+ Thêm lớp chủ nhiệm</a>
                    </div>
                    <label class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <table class="table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <td>Kỳ học</td>
                                <td>Lớp chủ nhiệm</td>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var classowner in Model.LecturerClasses.GroupBy(g => new { g.IdSemester, g.Semester }).Select(g => new { g.Key }))
                            {
                                <tr>
                                    <td class="hidden">
                                        <input name=""/>
                                    </td>
                                    <td>Kỳ @classowner.Key.Semester.SemesterYear.SemesterYearName Năm @classowner.Key.Semester.Year.YearName</td>
                                    <td>
                                        @foreach (LecturerClass classIterate in Model.LecturerClasses.Where(c => c.IdSemester.Equals(classowner.Key.IdSemester)))
                                        {
                                            <span class="lecturer-class" onclick="detailClass('@classIterate.IdLecturerClass')">@classIterate.Class.ClassName </span>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="group-btn text-center">
                    <button type="submit" class="btn btn-danger btn-updatelecturer">Cập nhật</button>
                </div>
            }
        </div>
    </div>
</div>
<!--Get date of semester-->
<div class="hidden semester-date">
    @foreach (Semester semester in ViewBag.semesters)
    {
        <div class="S@(semester.IdSemester)">@semester.EndTime.Value.ToString("yyyy-MM-dd")</div>
    }
</div>
<!-- Modal -->
<div id="modal-classowner" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lớp chủ nhiệm</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <form id="modal-form-classowner">
                        <input class="hidden" name="idLecturerClass" id="idLecturerClass"/>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Học kỳ
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="modal-input-semester" onchange="changeSemester()" name="idSemester">
                                    @foreach (Semester semester in ViewBag.semesters)
                                    {
                                        <option value="@semester.IdSemester">Kỳ @semester.SemesterYear.SemesterYearName Năm @semester.Year.YearName</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Lớp
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control Class" id="modal-input-class" name="idClass">
                                    <option value="">Chọn lớp</option>
                                    @foreach (Class classIterate in ViewBag.classes)
                                    {
                                        <option value="@classIterate.IdClass">@classIterate.ClassName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Chủ nhiệm đến
                            </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                    <input type="date" class="form-control modal-enddate" placeholder="Ngày kết thúc" name="endDate">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Họp lần 1
                            </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                    <input type="date" class="form-control modal-schedule-first" name="scheduleFirst">
                                </div>
                            </div>
                            <label class="control-label col-sm-3">
                                Phòng
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="room-first" placeholder="Phòng họp" name="roomFirst">
                            </div>
                        </div>
                        <div class="form-group document-submit-first">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Họp lần 2
                            </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                    <input type="date" class="form-control modal-schedule-second" name="scheduleSecond">
                                </div>
                            </div>
                            <label class="control-label col-sm-3">
                                Phòng
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="room-second" placeholder="Phòng họp" name="roomSecond">
                            </div>
                        </div>
                        <div class="form-group document-submit-second">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn btn-success" onclick="addClassOwner()">Thêm lớp</div>
                <div class="btn btn-primary" style="display: none" onclick="updateClassOwner()">Cập nhật</div>
                <div class="btn btn-danger" style="display: none" onclick="
removeClassOwner()">
                    Xóa
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>


<script>
    $(document)
        .ready(function() {
            $('.Faculty').select2();
            $('.Class').select2();
            $('.add-classowner')
                .on('click',
                    function() {
                        $('.modal-footer .btn-success').removeAttr('style');
                        $('.modal-footer .btn-danger').attr('style', 'display: none');
                        $('.modal-footer .btn-primary').attr('style', 'display: none');
                        $('#modal-classowner').appendTo("body").modal('show');
                        $('#idLecturerClass').val('');
                        $('input[type=checkbox]').prop("checked", false);
                    });
            changeSemester();
        });

    function updateLecturerInformation() {
        $.ajax({
            type: 'POST',
            data: $('#fUpdateLecturer').serialize(),
            url: '/QuanLy/QuanLyGVCN/CapNhat',

            success: function(response) {
                alert(response.responseText);
            },

            error: function(response) {
                alert(response.responseText);
            }
        });
    }

    function changeFaculty() {
        //alert(($('#lecturernumber').val()));
        if ($('#lecturernumber').val().length > 3) {
            username = $('#lecturernumber').val().substr(3);
            $('#lecturernumber').val($('.faculty-acronym .F' + $('.Faculty').val()).text() + username);
        }
    }

    function changeSemester() {
        idSemester = $('#modal-input-semester').val();
        $('.modal-enddate').val($('.S' + idSemester).text());

        // Get list lecturer document
        $.ajax({
            type: 'POST',
            data: {
                idSemester: idSemester
            },
            url: '/QuanLy/QuanLyGVCN/GiayToNopTrongKy',
            success: function(response) {
                // Check get data
                //alert(response.listDocument);
                var htmlListDocumentFirst = '<label class="control-label col-sm-3 ">Hồ sơ lần 1</label>';
                var htmlListDocumentSecond = '<label class="control-label col-sm-3 ">Hồ sơ lần 2</label>';
                $.each(response.listDocument,
                    function(index, data) {
                        if (data.phase == 1) {
                            htmlListDocumentFirst +=
                                '<div class="checkbox col-sm-9"><label><input type="checkbox" value="' +
                                data.idDocumentSemester +
                                '" name="D' +
                                data.idDocumentSemester +
                                '" id="D' +
                                data.idDocumentSemester +
                                '">' +
                                data.documentName +
                                '</label></div><label class="control-label col-sm-3"></label>';
                        } else {
                            htmlListDocumentSecond +=
                                '<div class="checkbox col-sm-9"><label><input type="checkbox" value="' +
                                data.idDocumentSemester +
                                '" name="D' +
                                data.idDocumentSemester +
                                '" id="D' +
                                data.idDocumentSemester +
                                '">' +
                                data.documentName +
                                '</label></div><label class="control-label col-sm-3"></label>';
                        }
                    });
                $('.document-submit-first').html(htmlListDocumentFirst);
                $('.document-submit-second').html(htmlListDocumentSecond);
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
    }

    function detailClass(id) {
        // Get data
        $.ajax({
            type: 'POST',
            data: {
                idLecturerClass: id
            },
            url: '/QuanLy/QuanLyGVCN/ChiTietLopChuNhiem',
            success: function(response) {
                if (response.success == true) {
                    classDetail = response.lecturerClass;
                    $('#idLecturerClass').val(classDetail.idLecturerClass);
                    $('#modal-input-semester').val(classDetail.idSemester);
                    $('.Class').val(classDetail.idClass);
                    $('.Class').select2();
                    $('.modal-enddate').val(classDetail.endDate);
                    $('.modal-schedule-first').val(classDetail.scheduleFirst);
                    $('#room-first').val(classDetail.roomFirst);
                    $('.modal-schedule-second').val(classDetail.scheduleSecond);
                    $('#room-second').val(classDetail.roomSecond);

                    // Load list document semester
                    var htmlListDocumentFirst = '<label class="control-label col-sm-3 ">Hồ sơ lần 1</label>';
                    var htmlListDocumentSecond = '<label class="control-label col-sm-3 ">Hồ sơ lần 2</label>';
                    $.each(classDetail.listDocumentSemester,
                        function(index, data) {
                            if (data.phase == 1) {
                                htmlListDocumentFirst +=
                                    '<div class="checkbox col-sm-9"><label><input type="checkbox" value="' +
                                    data.idDocumentSemester +
                                    '" name="D' +
                                    data.idDocumentSemester +
                                    '" id="D' +
                                    data.idDocumentSemester +
                                    '">' +
                                    data.documentName +
                                    '</label></div><label class="control-label col-sm-3"></label>';
                            } else {
                                htmlListDocumentSecond +=
                                    '<div class="checkbox col-sm-9"><label><input type="checkbox" value="' +
                                    data.idDocumentSemester +
                                    '" name="D' +
                                    data.idDocumentSemester +
                                    '" id="D' +
                                    data.idDocumentSemester +
                                    '">' +
                                    data.documentName +
                                    '</label></div><label class="control-label col-sm-3"></label>';
                            }
                        });
                    $('.document-submit-first').html(htmlListDocumentFirst);
                    $('.document-submit-second').html(htmlListDocumentSecond);

                    //Reset all data of documents
                    $('#modal-classowner input[type=checkbox]').prop("checked", false);
                    var docs = classDetail.documents;
                    $.each(docs,
                        function(index, data) {
                            if (data.isApproved != null && data.isApproved == true) {
                                $('#D' + data.idDocumentSemester).prop("checked", true);
                            }
                        });
                    $('.modal-footer .btn-danger').removeAttr('style');
                    $('.modal-footer .btn-primary').removeAttr('style');
                    $('.modal-footer .btn-success').attr('style', 'display: none');
                    $('#modal-classowner').appendTo("body").modal('show');
                }
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
    }

    function updateClassOwner() {
        var data = $("#modal-form-classowner").serializeArray();
        //data.push({ name: 'idLecturerClass', value: $('.idLecturerClass').val() });
        $.ajax({
            type: 'POST',
            data: data,
            url: '/QuanLy/QuanLyGVCN/CapNhatLopChuNhiem',
            success: function(response) {
                alert(response.responseText);
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
    }

    function removeClassOwner() {
        $.ajax({
            type: 'POST',
            data: {
                idLecturerClass: $('#idLecturerClass').val(),
                idLecturer: $('.form-idLecturer').val()
            },
            url: '/QuanLy/QuanLyGVCN/XoaLopChuNhiem',
            success: function(response) {
                alert(response.responseText);
                if (response.success == true) {
                    document.location.href = "/QuanLy/QuanLyGVCN/CapNhat?idLecturer=" + response.idLecturer;
                }
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
    }

    function addClassOwner() {
        var data = $("#modal-form-classowner").serializeArray();
        data.push({ name: 'idLecturer', value: $('.form-idLecturer').val() });
        $.ajax({
            type: 'POST',
            data: data,
            url: '/QuanLy/QuanLyGVCN/ThemLopChuNhiem',
            success: function(response) {
                alert(response.responseText);
                if (response.success == true) {
                    document.location.href = "/QuanLy/QuanLyGVCN/CapNhat?idLecturer=" + response.idLecturer;
                }
            },
            error: function(response) {
                alert(response.responseText);
            }
        });
    }
</script>