@using WEBPCTSV.Models.bean;
@using PagedList.Mvc;
@using WEBPCTSV.Helpers.Common;
@model PagedList.IPagedList<NewsEvent>

@{
    ViewBag.Title = "Tin sự kiện trường Đại Học Bách Khoa - Đại Học Đà Nẵng";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}
<div id="maincontent">
    <div id="maincontent-section1">
        <div class="maincontent-main listbox listbox-main">
            <ol class="breadcrumb box-shadow">
                <li><a href="~/">Trang chủ</a></li>
                <li class="active">Sự kiện</li>
            </ol>
            <div class="listbox-content">
                @foreach (NewsEvent x in Model)
                {
                    <div class="listbox-content-item">
                        <div class="col-xs-2 event-item">
                            <div class="icon-date">
                                <p class="icon-date-year">
                                    @x.BeginDate.Value.Year
                                </p>
                                <p class="icon-date-date">
                                    @x.BeginDate.Value.Day/@x.BeginDate.Value.Month
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-10">
                            <div class="listbox-content-item-sub-title">
                                <a href="~/SuKien/ChiTiet?id=@x.IdNewsEvent" title="@x.News.Title">
                                    <span>@StringExtension.GetLimitSubString(x.News.Title, 20)</span>
                                </a>
                            </div>
                            @if (x.News.IsPinned.Value)
                            {
                                <div class="listbox-content-item-moreinfo-comment date">
                                    <span class="label label-danger">
                                        <i class="fa fa-thumb-tack" aria-hidden="true"></i> Quan trọng
                                    </span>
                                </div>
                            }
                            <div class="listbox-content-item-moreinfo">
                                <span class="listbox-content-item-moreinfo-comment date"><i class="fa fa-clock-o"></i> @x.EventTime </span>
                                <span class="listbox-content-item-moreinfo-comment date"><i class="fa fa-map-marker "></i> @x.EventVenue </span>
                            </div>
                        </div>
                    </div>
                }
                <div class="menuTrang">
                    @Html.PagedListPager(Model, page => Url.Action("../SuKien", new { page = page }))
                </div>
            </div>
        </div>

        <div id="sidebar">
            @Html.Action("TopNews", "News", new { count = 5 })
        </div>
    </div>
</div>
