@model List<RequestPaper>
@using WEBPCTSV.Models.bean;

<table class="table table-hover">
    @using WEBPCTSV.Models.Support;
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên giấy yêu cầu</th>
            <th>Lý do</th>
            <th>Ngày nhận giấy</th>
            <th>Số lượng</th>
            <th>Lệ phí</th>

            <th>Tình trạng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int stt = 1;
            List<RequestPaper> listRequest = Model;
        }
        @foreach (RequestPaper request in listRequest)
        {
            <tr>
                <td>@stt</td>
                <td>@request.Reasonrequest.Paper.PaperName</td>
                @if (request.ContentReason != null)
                {
                    <td>@request.ContentReason</td>
                }
                else
                {
                    <td>@request.Reasonrequest.Reason</td>
                }
                <td>@if (request.TimeReceivePaper != null)
                { @request.TimeReceivePaper.Value.ToShortDateString() }</td>
                <td></td>
                <td>
                    @if (request.isImportant)
                    {
                        @ConvertObject.ConvertCurrency((Convert.ToInt32(request.Reasonrequest.Paper.PriceUrgency) * request.NumberPaper).ToString())
                    }
                    else
                    {
                        @ConvertObject.ConvertCurrency((Convert.ToInt32(request.Reasonrequest.Paper.PriceNormal) * request.NumberPaper).ToString())
                    } VNĐ
                </td>
                <td>@request.Requeststatus.StatusName</td>
                <td>
                    @if (request.IdRequestStatus == 1)
                    { <a class="glyphicon glyphicon-remove" onclick="DeleteRequest('@request.IdRequestPaper')" data-toggle="tooltip" title="Hủy yêu cầu!"></a>}
                </td>
            </tr>
                    stt++;
        }
    </tbody>
</table>
<script>
    function DeleteRequest(idRequest) {
        $.ajax({
            url: "/ManageRequest/DeleteRequestPaper",
            type: "post",
            data: { 'idRequestPaper': idRequest },
            success: function (result) {
                location.reload();
            }
        });
    }
</script>