@using WEBPCTSV.Models.bean;
@using WEBPCTSV.Models.Support;
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "ListAllRequest";
}
@{
    List<RequestPaper> listRequestPaper = ViewBag.request;
}
<h3 class="header-paper">Danh sách số lượng yêu cầu giấy @ViewBag.PaperName </h3>
<div class="container-layoutmanager" ng-controller="listStudentByClass">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên sinh viên</th>
                <th><button type="button" class="btn btn-success" style="margin-left:5px" data-toggle="tooltip" title="In đơn !" onclick="PrintAllHtml('@ViewBag.idReason','@ViewBag.idClass')"><span class="glyphicon glyphicon-print"></span><strong> In tất cả </strong></button></th>
            </tr>
        </thead>
        <tbody>
            @{int stt = 1;
            
            foreach (Student student in ViewBag.student)
            {
                RequestPaper request = listRequestPaper.Where(r => r.AccountRequest.Students.FirstOrDefault().IdStudent == student.IdStudent).LastOrDefault();
                <tr>
                    <td><p class="form-control-static">@stt</p></td>
                    <td><p class="form-control-static">@(student.LastNameStudent + " " + student.FirstNameStudent)</p></td>
                    @if (request == null)
                    {
                        <td id="ListButton_@student.IdStudent">
                            <div class="input-group" style="width:100px">
                                <input id="numberPaper_@student.IdStudent" placeholder="SL" type="number" min="1" max="20" step="1" class="form-control" />
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" ng-click="AddRequest('@student.IdStudent','@ViewBag.idReason','numberPaper_@student.IdStudent','ListButton_@student.IdStudent')" data-toggle="tooltip" title="Thêm yêu cầu!"><span class="glyphicon glyphicon-save "></span></button>
                                </div>
                            </div>
                            
                        </td>
                    }
                    else
                    {
                        <td id="ListButton_@student.IdStudent">
                            <div class="input-group" style="width:100px;float:left">
                                <input id="updatenumberPaper_@student.IdStudent" type="number" min="1" max="20" step="1" value="@request.NumberPaper" class="form-control" />
                                <div class="input-group-btn">
                                    <button class="btn btn-info" onclick="UpdateRequest('@request.IdRequestPaper','updatenumberPaper_@student.IdStudent')" data-toggle="tooltip" title="Cập nhật số lượng giấy tờ !"><span class="glyphicon glyphicon-pencil "></span></button>
                                </div>
                            </div>
                            @if (request.IdRequestStatus != 3)
                            {
                                <button type="button" class="btn btn-success" style="margin-left:5px" data-toggle="tooltip" title="In đơn !" onclick="PrintHtml('@request.Reasonrequest.IdPaper','@request.IdAccountRequest',@request.NumberPaper)"><span class="glyphicon glyphicon-print"></span></button>
                            }

                            @if (request.IdRequestStatus == 1 || request.IdRequestStatus == 2)
                            {
                                <label class="btn btn-danger" data-toggle="tooltip" title="Hủy yêu cầu!" onclick="UpdateStatusCancelRequest('@request.IdRequestPaper')"><a class="glyphicon glyphicon-remove" style="color:white"></a></label>
                            }
                        </td>

                    }

                </tr>
                    stt++;
            }
            }

        </tbody>
    </table>

</div>
<script>
    function PrintHtml(idPaper, idAccountRequest, number) {
        //var divContents = $("#dvContainer").html();
        /*var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(contentPaper);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();*/
        //alert(idPaper+idAccountRequest);
        $.ajax({
            url: "/ManagePaper/DetailPrintPaper",
            type: "post",
            data: { 'idPaper': idPaper, 'idAccountRequest': idAccountRequest, 'numberPaper': number },
            success: function (result) {
                var originalContents = document.body.innerHTML;
                document.body.innerHTML = result;
                window.print();
                document.body.innerHTML = originalContents;
                location.reload();
            }
        });

        /*var printContents = document.getElementById(contentPaper).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;*/

    }

    function PrintAllHtml(idReason,idClass) {

        $.ajax({
            url: "/ManagePaper/PrintListPaperByClass",
            type: "post",
            data: { "idReason":idReason,"idClass": idClass },
            success: function (data) {
                var originalContents = document.body.innerHTML;
                document.body.innerHTML = data.Result;
                window.print();
                document.body.innerHTML = originalContents;
                location.reload();
            },
            dataType: "json",
            traditional: true
        });
    }

    function UpdateStatusProcessRequest(idRequest) {
        $.ajax({
            url: "/ManageRequest/UpdateStatusProcessRequest",
            type: "post",
            data: { 'idRequestPaper': idRequest },
            success: function (result) {
                location.reload();
            }
        });
    }

    function UpdateStatusCancelRequest(idRequest) {
        if(confirm("Bạn có muốn xóa yêu cầu!"))
        {
            $.ajax({
                url: "/ManageRequest/UpdateStatusCancelRequest",
                type: "post",
                data: { 'idRequestPaper': idRequest },
                success: function (result) {
                    location.reload();
                }
            });
        }
        
    }

    function UpdateRequest(idRequest, idnumberPaper) {
        var numberPaper = document.getElementById(idnumberPaper).value;
        $.ajax({
            url: "/ManageRequest/UpdateRequest",
            type: "post",
            data: { "idRequest": idRequest, "numberPaper": numberPaper },
            success: function (result) {
                alert("Bạn đã cập nhật thành công!");
            }
        });
    }
</script>
