@using WEBPCTSV.Models.bean;
@using WEBPCTSV.Models.Support;
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "ListAllRequest";
}

<h3 class="header-paper">Quản lý yêu cầu</h3>
@{
    List<RequestPaper> listRequest = ViewBag.listRequest;
    PageNumber pageNumber = ViewBag.pageNumber;
}
<div class="container-layoutmanager" ng-controller="ListAllRequestPaper">
    <div style="height:50px">
        <div class="input-group" style="float:left;width:400px">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button">Chọn trạng thái yêu cầu: </button>
            </span>
            <select id="selectRequestStatus" ng-init="requestStatus = '@ViewBag.idRequestStatus'" ng-model="requestStatus" ng-change="ChangeSelectRequestStatus()" class="form-control" style="width:150px">
                @foreach (RequestStatus requestStatus in ViewBag.listStatus)
                {
                    <option value="@requestStatus.IdRequestStatus">@requestStatus.StatusName</option>
                }
                <option value="0">Tất cả</option>
            </select>
        </div>

        <a href="/ManageRequest/ChoosePaper"><label class="btn btn-success"><span class="glyphicon glyphicon-print" data-toggle="tooltip" title="In đơn !" onclick="PrintAllHtml('@ViewBag.idClass')"></span> In  giấy tờ theo lớp</label></a>

        <form action="/ManageRequest/ListAllRequestPaper?value=@ViewBag.idRequestStatus&page=1" method="post" class="input-group" style="width:400px;float:right">
            <input id="inputSearchRequestPaper" name="inputSearchRequestPaper" type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm!" />
            <span class="input-group-btn">
                <button id="btnSearchRequestPaper" class=" btn btn-success"><span class="glyphicon glyphicon-search"></span> Tìm kiếm</button>
            </span>
        </form>
    </div>


    <hr />
    @Html.Partial("_ListAllRequest", listRequest)
    <br />
    @Html.Partial("~/Views/PartialShared/_PageNumber.cshtml", pageNumber)
</div>


