@using PagedList.Mvc
@model PagedList.IPagedList<QUANTRI>

@{
    ViewBag.Title = "Danh sách tư vấn viên";
    ViewBag.Active = "ThanhVien";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
@{
    QUANTRI qt = (QUANTRI)Session["TaiKhoan"];
}
<ol class="breadcrumb box-shadow">
    <li>
        @{
            if (qt.ChucVu.Equals("Quản Trị"))
            {
                <a href='ListNhanSu?page=1&x=1'>Quản lý Admin</a>
            }
            else
            {
                <span>Quản lý Admin</span>
            }

        }
    </li>
    <li>
        <a href="ListTuVanVien?page=1&x=2" style="font-weight: bold !important">Quản lý tư vấn viên</a>
    </li>
    <li>
        @{
            if (qt.ChucVu.Equals("Trưởng Phòng") || qt.ChucVu.Equals("Quản Trị"))
            {
                <a href='ListVienChuc?page=1&x=3'>Quản lý cơ cấu nhân sự</a>
            }
            else
            {
                <span>Quản lý cơ cấu nhân sự</span>
            }

        }
    </li>
</ol>
<div class="main-content">
    <div class="funtion-block">
        <a class="btn btn-md btn-success" href="ThemTuVanVien">
            <i class="fa fa-plus-square"></i> Thêm mới
        </a>
    </div>
    <hr/>
    <div id="tbnoidung">
        <table class="table table-hover">
            <thead>
            <tr class="tieude">
                <th>Tài Khoản</th>
                <th>Họ Tên</th>
                <th>Điện Thoại</th>
                <th>Email</th>
                <th>Lĩnh vực tư vấn</th>
                <th style="text-align: center;">Tùy Chọn</th>
            </tr>
            </thead>
            @foreach (var tin in Model)
            {
                <tr class="noidung">
                    <td>@tin.TenDangNhap</td>
                    <td>@tin.HoTen</td>
                    <td>@tin.DienThoai</td>
                    <td>@tin.Email</td>
                    <td>
                        <p class="mota">@tin.LinhVuc</p>
                    </td>
                    <td style="width: 20%">
                        <span class="label label-warning">
                            @Html.ActionLink("Reset Mật Khẩu", "ResetMatKhau", new { id = @tin.TenDangNhap })
                        </span>

                        <span class="label label-primary">
                            @Html.ActionLink("Chỉnh Sửa", "CapNhatTuVanVien", new { id = @tin.TenDangNhap })
                        </span>

                        <span class="label label-danger">
                            @Html.ActionLink("Xóa", "XoaNhanSu", new { id = @tin.TenDangNhap })
                        </span>

                    </td>
                </tr>
            }
        </table>
        <div class="menuTrang">
            @Html.PagedListPager(Model, page => Url.Action("ListTuVanVien", new { page = page, x = 2 }))
        </div>
    </div>
</div>