@using WEBPCTSV.Models.bean;
@using PagedList.Mvc;
@model PagedList.IPagedList<Lecturer>


@{
    ViewBag.Title = "Danh sách giảng viên chủ nhiệm trường Đại Học Bách Khoa - Đại Học Đà Nẵng";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}

<div id="maincontent">
    <div id="maincontent-section1">
        <div class="maincontent-main listbox listbox-main">
            <ol class="breadcrumb box-shadow">
                <li><a href="~/">Trang chủ</a></li>
                <li><a href="#">Công tác giảng viên chủ nhiệm</a></li>
                <li class="active">Danh sách giảng viên chủ nhiệm</li>
            </ol>
            <div class="search-bar">
                <div class="search-bar-title">Tìm kiếm</div>
                <form id="fSearch" method="post">
                    <div class="search-box input-group">
                        <input id="search-bar-box" name="SearchBox" placeholder="Tìm kiếm theo lớp sinh hoạt, tên giảng viên, tên khoa, mã khoa"/>
                        <span class="input-group-btn"><a class="btn btn-success btn-search"><i class="fa fa-search fa-lg"></i></a></span>
                    </div>
                    <div class="search-group-btn">
                        <a href="#" class="btn btn-default btn-search-more"><i class="fa fa-cogs"></i> <span class="search-config-label"></span></a>
                    </div>
                    <div class="search-more" style="display: none">
                        <select id="search-bar-semester" name="SearchSemester">
                            <option value="">Chọn kỳ học</option>
                            @foreach (Semester semester in ViewBag.semesters)
                            {
                                <option value="@semester.IdSemester">Kỳ @semester.SemesterYear.SemesterYearName Năm @semester.Year.YearName</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="search-content">
            </div>
        </div>
    </div>
    <div class="maincontent-sidebar">
        @Html.Action("TopNewsEvent", "NewsEvent", new { count = 3 })
    </div>
</div>
<!-- Modal -->
<div id="modal-classowner" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lớp chủ nhiệm</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <form id="modal-form-classowner">
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Học kỳ
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="modal-input-semester" name="idSemester" disabled>
                                    @foreach (Semester semester in ViewBag.semesters)
                                    {
                                        <option value="@semester.IdSemester">Kỳ @semester.SemesterYear.SemesterYearName Năm @semester.Year.YearName</option>
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Lớp
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control Class" id="modal-input-class" name="idClass" disabled>
                                    <option value="">Chọn lớp</option>
                                    @foreach (Class classIterate in ViewBag.classes)
                                    {
                                        <option value="@classIterate.IdClass">@classIterate.ClassName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Chủ nhiệm đến
                            </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                    <input type="date" class="form-control modal-enddate" placeholder="Ngày kết thúc" name="endDate">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Họp lần 1
                            </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                    <input type="date" class="form-control modal-schedule-first" name="scheduleFirst">
                                </div>
                            </div>
                            <label class="control-label col-sm-3">
                                Phòng
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="room-first" placeholder="Phòng họp" name="roomFirst">
                            </div>
                        </div>
                        <div class="form-group document-submit-first">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Họp lần 2
                            </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                    <input type="date" class="form-control modal-schedule-second" name="scheduleSecond">
                                </div>
                            </div>
                            <label class="control-label col-sm-3">
                                Phòng
                            </label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" id="room-second" placeholder="Phòng họp" name="roomSecond">
                            </div>
                        </div>
                        <div class="form-group document-submit-second">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<script>
    // Search lecturer
    function doSearch(href) {
        $.ajax({
            url: href,
            type: 'POST',
            data: $('#fSearch').serialize(),
            cache: false,
            success: function (result) {
                $('.search-content').html(result);
            }
        });
    }

    // Click pagination load page ajax
    $(document).on('click', '.pagination a', function () {
        doSearch(this.href);
        return false;
    });

    // Detail class owner
    function detailClass(id) {
        // Get data
        $.ajax({
            type: 'POST',
            data: {
                idLecturerClass: id
            },
            url: '/QuanLy/QuanLyGVCN/ChiTietLopChuNhiem',
            success: function (response) {
                if (response.success == true) {
                    classDetail = response.lecturerClass;
                    $('#idLecturerClass').val(classDetail.idLecturerClass);
                    $('#modal-input-semester').val(classDetail.idSemester);
                    $('.Class').val(classDetail.idClass);
                    $('.modal-enddate').val(classDetail.endDate);
                    $('.modal-schedule-first').val(classDetail.scheduleFirst);
                    $('#room-first').val(classDetail.roomFirst);
                    $('.modal-schedule-second').val(classDetail.scheduleSecond);
                    $('#room-second').val(classDetail.roomSecond);
                    // Load list document semester
                    var htmlListDocumentFirst = '<label class="control-label col-sm-3 ">Hồ sơ lần 1</label>';
                    var htmlListDocumentSecond = '<label class="control-label col-sm-3 ">Hồ sơ lần 2</label>';
                    $.each(classDetail.listDocumentSemester, function (index, data) {
                        if (data.phase == 1) {
                            htmlListDocumentFirst += '<div class="checkbox col-sm-9"><label><input type="checkbox" value="' + data.idDocumentSemester + '" name="D' + data.idDocumentSemester + '" id="D' + data.idDocumentSemester + '">' + data.documentName + '</label></div><label class="control-label col-sm-3"></label>';
                        } else {
                            htmlListDocumentSecond += '<div class="checkbox col-sm-9"><label><input type="checkbox" value="' + data.idDocumentSemester + '" name="D' + data.idDocumentSemester + '" id="D' + data.idDocumentSemester + '">' + data.documentName + '</label></div><label class="control-label col-sm-3"></label>';
                        }
                    });
                    $('.document-submit-first').html(htmlListDocumentFirst);
                    $('.document-submit-second').html(htmlListDocumentSecond);

                    //Reset all data of documents
                    $('#modal-classowner input[type=checkbox]').prop("checked", false);
                    var docs = classDetail.documents;
                    $.each(docs, function (index, data) {
                        if (data.isApproved != null && data.isApproved == true) {
                            $('#D' + data.idDocumentSemester).prop("checked", true);
                        }
                    });
                    $('#modal-classowner').appendTo("body").modal('show');
                }
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    $(document).ready(function () {
        // Load list lecturer
        doSearch('../CongTac/DanhSachGVCN');

        $('#search-bar-box').keypress(function (e) {
            // Prevent submit form by enter button
            if (e.keyCode == 13) {
                e.preventDefault();
                doSearch('../CongTac/DanhSachGVCN');
            }
        });

        $('.btn-search').on('click', function () {
            $.ajax({
                type: 'POST',
                data: $('#fSearch').serialize(),
                url: '/CongTac/DanhSachGVCN',
                success: function (response) {
                    $('.search-content').html(response);
                },
                error: function (response) {
                    $('.search-content').html('Lỗi trong quá trình lấy dữ liệu!')
                }
            });
        });

        // Type of search
        $('#search-bar-type').on('change', function () {
            if ($('#search-bar-type').val() == 'Class') {
                // set up UI
                $('#search-bar-box').css('display', 'block');
                $('#search-bar-faculty').css('display', 'none');
            } else if ($('#search-bar-type').val() == 'Faculty') {
                // set up UI
                $('#search-bar-box').css('display', 'none');
                $('#search-bar-faculty').css('display', 'block');
            } else if ($('#search-bar-type').val() == 'Lecturer') {
                // set up UI
                $('#search-bar-box').css('display', 'block');
                $('#search-bar-faculty').css('display', 'none');
            }
        });

        // Advanced search
        $('.btn-search-more').on('click', function () {
            if ($('.search-more').css('display') == 'none') {
                // Reset select list
                $('#search-bar-type').val('');
                $('#search-bar-semester').val('');
                $('#search-bar-faculty').val('');
                // Show UI
                $('.search-more').fadeIn('300');
            } else {
                // Show UI
                $('.search-more').fadeOut('300');
                $('#search-bar-box').css('display', 'block');
                $('#search-bar-faculty').css('display', 'none');
                // Reset select list
                $('#search-bar-type').val('');
                $('#search-bar-semester').val('');
                $('#search-bar-faculty').val('');
            }
        });
    });
</script>
