@using WEBPCTSV.Models.bean
<link rel="stylesheet" href="/assets/css/dataTables.bootstrap.min.css">
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>

@{
    ViewBag.Title = "Trang đánh giá kết quả rèn luyện - Đại Học Bách Khoa - Đại học Đà Nẵng";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}
@{
    AccountSession accountSession = (AccountSession)Session["AccountSession"];
    List<Student> listStudent = null;
    ConductEvent currentEvent = null;
    ConductSchedule previewConductSchedule = null;
    ConductSchedule accountConductSchedule = null;
    int index = 0;
    if (ViewBag.error == null)
    {
        listStudent = ViewBag.listStudent;
        currentEvent = ViewBag.currentEvent;
        previewConductSchedule = ViewBag.previewConductSchedule;
        accountConductSchedule = ViewBag.accountConductSchedule;
    }

}
<div id="maincontent">
    <div id="maincontent-section1">
        <div class="conduct-menu">
            <ul class="nav navbar-nav side-nav">
                @Html.Partial("~/Views/Conduct/PartialViews/SideBarShared.cshtml")
                @Html.Partial("~/Views/Conduct/PartialViews/SideBarConduct.cshtml")
            </ul>
        </div>
        <div class="maincontent-main conduct-page" id="maincontent">
            <ol class="breadcrumb box-shadow">
                <li>
                    <a href="~/DanhGiaRenLuyen">Đánh giá rèn luyện</a>
                </li>
                @if (TempData["faculty"] != null)
                {
                    <li>
                        <a href="~/DanhGiaRenLuyen/DanhSachLop?idFaculty=@TempData["faculty"]">@TempData["facultyName"]</a>
                    </li>
                    TempData["faculty"] = TempData["faculty"];
                    TempData["facultyName"] = TempData["facultyName"];
                }
                <li class="active">@(ViewBag.className != null ? ViewBag.className : string.Empty)</li>
            </ol>
            <div class="listbox-content">
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.error
                    </div>
                }
                else
                {
                    <div class="listbox-content-section row">
                        @if (accountSession.IdDecentralizationGroup != WEBPCTSV.Helpers.Define.Role.Prefect && accountSession.IdDecentralizationGroup != WEBPCTSV.Helpers.Define.Role.Student)
                        {
                            <button class="btn btn-default btn-sm" onclick="exportConductClass(@ViewBag.classId)" type="button"><i class="fa fa-list-ol" aria-hidden="true"></i> In bảng điểm rèn luyện tập thể</button>
                        }
                        <button class="btn btn-success btn-sm" onclick="EvaluateClass(@ViewBag.classId)" type="button"><i class="fa fa-check" aria-hidden="true"></i> Duyệt tất cả sinh viên</button>
                    </div>
                    <br/>
                    <div class="conduct-schedule table-responsive">
                        <table id="myTable" class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <td width="30px">STT</td>
                                <td width="100px">MSSV</td>
                                <td>Họ tên</td>
                                <td>@previewConductSchedule.DecentralizationGroup.DecentralizationGroupName ĐG</td>
                                <td>@accountConductSchedule.DecentralizationGroup.DecentralizationGroupName ĐG</td>
                                <td width="80px" class="col-action">Thao tác</td>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>MSSV</th>
                                <th>Họ tên</th>
                                <th>@previewConductSchedule.DecentralizationGroup.DecentralizationGroupName ĐG</th>
                                <th>@accountConductSchedule.DecentralizationGroup.DecentralizationGroupName ĐG</th>
                                <th class="col-action">Thao tác</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            @foreach (Student student in listStudent)
                            {
                                ConductResult conductResultPrev = student.ConductResults.SingleOrDefault(c => c.IdConductEvent == currentEvent.IdConductEvent && c.IdConductSchedule == previewConductSchedule.IdConductSchedule);
                                ConductResult conductResult = student.ConductResults.SingleOrDefault(c => c.IdConductEvent == currentEvent.IdConductEvent && c.IdConductSchedule == accountConductSchedule.IdConductSchedule);
                                int total = 0;
                                int totalPrev = 0;
                                if (conductResultPrev != null)
                                {
                                    if (conductResultPrev.IsApproved)
                                    {
                                        string[] arrPairValue = conductResultPrev.PartialPoint.Split(';');
                                        foreach (string pair in arrPairValue)
                                        {
                                            try
                                            {
                                                totalPrev += int.Parse(pair.Split(':')[1]);
                                            }
                                            catch (Exception)
                                            {
                                            }
                                        }
                                    }
                                }

                                if (conductResult != null)
                                {
                                    string[] arrPairValue = conductResult.PartialPoint.Split(';');
                                    foreach (string pair in arrPairValue)
                                    {
                                        try
                                        {
                                            total += int.Parse(pair.Split(':')[1]);
                                        }
                                        catch (Exception)
                                        {
                                        }
                                    }

                                    if (conductResult.IsApproved && totalPrev == 0)
                                    {
                                        totalPrev = total;
                                    }
                                }

                                string isPrefect = (student.Account.IdDecentralizationGroup == 3) ? " (" + student.Account.DecentralizationGroup.DecentralizationGroupName + ")" : string.Empty;
                                if (student.IsReserved.Value == true || student.IsExpelled.Value == true || student.IsGraduated == true)
                                {
                                    continue;
                                }

                                <tr class="@((totalPrev == 0) ? "color-danger" : string.Empty) SV-@student.IdStudent">
                                    <td>@(++index)</td>
                                    <td>@(student.StudentNumber)</td>
                                    <td>@(student.LastNameStudent + " " + student.FirstNameStudent)@isPrefect</td>
                                    <td>
                                        <span class="conduct-point-prev">@totalPrev</span>
                                    </td>
                                    <td>
                                        <span class="conduct-point-new">@total</span>
                                        <span class="conduct-icon-status">
                                                @if (conductResult != null && conductResult.IsApproved)
                                                {
                                                    <i class="fa fa-check color-success" aria-hidden="true" title="Đã được duyệt"></i>
                                                }
                                                else if (conductResult != null && conductResult.IsSaved)
                                                {
                                                    <i class="fa fa-floppy-o" aria-hidden="true" title="Chỉ lưu chưa được duyệt"></i>
                                                }
                                            </span>
                                    </td>
                                    <td>
                                        <span class="conduct-icon-action">
                                                @if (!(conductResult != null && conductResult.IsApproved))
                                                {
                                                    <span onclick="EvaluateStudent(@student.IdStudent)" class="label label-success label-link">Duyệt</span>
                                                    <a href="../DanhGiaRenLuyen/DanhGiaSinhVien?idStudent=@student.IdStudent" class="label label-primary label-link">Đánh giá</a>
                                                }
                                                else
                                                {
                                                    <a href="../DanhGiaRenLuyen/KetQuaDanhGia?idStudent=@(student.IdStudent)&idSemester=@(currentEvent.IdSemester)" class="label label-info label-link">Chi tiết</a>
                                                }
                                            </span>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    function EvaluateStudent(idStudent) {
        $.ajax({
            type: 'POST',
            data: {
                idStudent: idStudent
            },
            url: '/DanhGiaRenLuyen/DuyetDiemSinhVien',
            beforeSend: function() {
                $('.modal-announcement-message').html("");
                loadIconLoading($('.cssload-container-over'));
                $('.cssload-container-over').append("Đang xử lý dữ liệu!");
                $('#modal-announcement').modal('show');
                $('.cssload-container-over').fadeIn();
            },
            success: function(response) {
                $('.cssload-container-over').hide();
                unloadIconLoading($('.cssload-container-over'));
                $('.modal-announcement-message').html(response.responseText);
                if (response.success == true) {
                    if ($('.SV-' + idStudent + ' .conduct-point-new').text().trim() == "0") {
                        $('.SV-' + idStudent + ' .conduct-point-new')
                            .text($('.SV-' + idStudent + ' .conduct-point-prev').text().trim());
                    }
                    $('.SV-' + idStudent + ' .conduct-icon-status')
                        .html('<i class="fa fa-check color-success" aria-hidden="true" title="Đã được duyệt"></i>');
                    $('.SV-' + idStudent + ' .conduct-icon-action').remove();
                    $('.SV-' + idStudent).removeClass("color-danger");
                }
            },
            error: function(result) {
                $('.cssload-container-over').hide();
                unloadIconLoading($('.modal-announcement-message'));
                $('.modal-announcement-message').html('Lỗi trong quá trình cập nhật dữ liệu!');
            }
        });
    }

    function SubmitEvaluateClass(idClass) {
        $.ajax({
            type: 'POST',
            data: {
                idClass: idClass
            },
            //url: '/DanhGiaRenLuyen/DuyetTatCaSinhVien',
            url: '/Conduct/ConductApproveClass?idClass=' + idClass,
            beforeSend: function() {
                $('.modal-announcement-message').html("");
                loadIconLoading($('.cssload-container-over'));
                $('.cssload-container-over').append("Đang xử lý dữ liệu!");
                $('#modal-announcement').modal('show');
                $('.cssload-container-over').fadeIn();
            },
            success: function(response) {
                $('.cssload-container-over').hide();
                unloadIconLoading($('.cssload-container-over'));
                $('.modal-announcement-message').html(response.responseText);
                if (response.success == true)
                    $('#modal-announcement .modal-dialog .modal-content .modal-footer')
                        .html('<button type="button" class="btn btn-default" onclick="window.location.reload()">Đóng</button>')
                else
                    $('#modal-announcement .modal-dialog .modal-content .modal-footer')
                        .html('<button type="button" class="btn btn-default"  data-dismiss="modal">Đóng</button>')
            },
            error: function(result) {
                $('.cssload-container-over').hide();
                unloadIconLoading($('.modal-announcement-message'));
                $('.modal-announcement-message').html('Lỗi trong quá trình cập nhật dữ liệu!');
            }
        });
    }

    function EvaluateClass(idClass) {
        $('.modal-announcement-message')
            .html('Bạn có chắc muốn duyệt điểm tất cả sinh viên không? </br>Khi đã duyệt điểm sẽ không thể chỉnh sửa điểm được nữa.');
        $('#modal-announcement .modal-dialog .modal-content .modal-footer')
            .html('<button type="button" onclick="SubmitEvaluateClass(' +
                idClass +
                ')" class="btn btn-success">Xác nhận</button>  <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>')
        $('#modal-announcement').modal('show');
    }

    function exportConductClass(idClass) {
        location.href = '/DanhGiaRenLuyen/XuatBangDiemTapThe?idClass=' + idClass;
        //$.ajax({
        //    type: 'GET',
        //    url: '/DanhGiaRenLuyen/XuatBangDiemTapThe?idClass=' + idClass,
        //    beforeSend: function () {
        //        $('.modal-announcement-message').html("");
        //        loadIconLoading($('.cssload-container-over'));
        //        $('.cssload-container-over').append("Đang xử lý dữ liệu!");
        //        $('#modal-announcement').modal('show');
        //        $('.cssload-container-over').fadeIn();
        //    },
        //    success: function (response) {
        //        $('.cssload-container-over').hide();
        //        unloadIconLoading($('.cssload-container-over'));
        //        $('.modal-announcement-message').html(response.responseText);
        //        $('#modal-announcement .modal-dialog .modal-content .modal-footer').html('<button type="button" class="btn btn-default"  data-dismiss="modal">Đóng</button>')
        //    },
        //    error: function (result) {
        //        $('.cssload-container-over').hide();
        //        unloadIconLoading($('.modal-announcement-message'));
        //        $('.modal-announcement-message').html('Lỗi trong quá trình cập nhật dữ liệu!');
        //    }
        //});
    }

    $(document)
        .ready(function() {
            // Setup - add a text input to each footer cell
            $('#myTable tfoot th')
                .each(function() {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                });

            // DataTable
            var table = $('#myTable').DataTable();

            // Apply the search
            table.columns()
                .every(function() {
                    var that = this;

                    $('input', this.footer())
                        .on('keyup change',
                            function() {
                                if (that.search() !== this.value) {
                                    that
                                        .search(this.value)
                                        .draw();
                                }
                            });
                });
        });
</script>