@using WEBPCTSV.Models.bean;
@using PagedList.Mvc;
@using WEBPCTSV.Helpers.Common;


<link rel="stylesheet" href="/assets/css/dataTables.bootstrap.min.css">
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>

@{
    ViewBag.Title = "Trang đánh giá kết quả rèn luyện - Đại Học Bách Khoa - Đại học Đà Nẵng";
    Layout = "~/Views/Shared/ClientMaster.cshtml";
}
@{
    AccountSession accountSession = (AccountSession)Session["AccountSession"];
    List<Class> classes = ViewBag.classes;
    ConductEvent conductEvent = ViewBag.currentEvent;
    ConductSchedule accountConductSchedule = ViewBag.accountConductSchedule;
    Faculty faculty = ViewBag.faculty;
    int index = 0;
    if (faculty != null)
    {
        TempData["faculty"] = faculty.IdFaculty;
        TempData["facultyName"] = "Khoa " + faculty.FacultyName;
    }
    else
    {
        TempData["faculty"] = null;
        TempData["facultyName"] = null;
    }
}
<div id="maincontent">
    <div id="maincontent-section1">
        <div class="conduct-menu">
            <ul class="nav navbar-nav side-nav">
                @Html.Partial("~/Views/Conduct/PartialViews/SideBarShared.cshtml")
                @Html.Partial("~/Views/Conduct/PartialViews/SideBarConduct.cshtml")
            </ul>
        </div>
        <div class="maincontent-main conduct-page" id="maincontent">
            <ol class="breadcrumb box-shadow">
                <li><a href="~/DanhGiaRenLuyen">Đánh giá rèn luyện</a></li>
                <li class="active">@(faculty != null ? "Khoa " + faculty.FacultyName : "Đánh giá lớp chủ nhiệm")</li>
            </ol>
            <div class="listbox-content">
                @if (ViewBag.error != null)
                {
                    <div class="alert alert-danger">
                        @ViewBag.error
                    </div>
                }
                else
                {
                    if (faculty != null)
                    {
                        <div class="listbox-content-section row">
                            <button class="btn btn-default btn-sm" onclick="exportConductFaculty(@faculty.IdFaculty)" type="button"><i class="fa fa-list-ol" aria-hidden="true"></i> In kết quả đánh giá rèn luyện khoa</button>
                            <button class="btn btn-success btn-sm" onclick="ConfirmEvaluateFaculty(@faculty.IdFaculty)" type="button"><i class="fa fa-check" aria-hidden="true"></i> Duyệt kết quả rèn luyện khoa</button>
                        </div>
                    }
                    <div class="conduct-schedule table-responsive">
                        <table id="myTable" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <td width="20px">STT</td>
                                    <td>Tên lớp</td>
                                    <td>Chủ nhiệm</td>
                                    <td width="80px">Số lượng</td>
                                    <td width="80px">Tình trạng</td>
                                    <td width="80px">Chi Tiết</td>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th width="20px">STT</th>
                                    <th>Tên lớp</th>
                                    <th>Chủ nhiệm</th>
                                    <th width="80px">Số lượng</th>
                                    <th width="80px">Tình trạng</th>
                                    <th width="80px">Chi Tiết</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (Class classItem in classes)
                                {
                                    int totalStudent = classItem.Students.Where(s => s.IsReserved == false && s.IsGraduated == false && s.IsExpelled == false).Count();
                                    if (totalStudent == 0)
                                    {
                                        continue;
                                    }
                                    int totalEvaluated = conductEvent.ConductResults.Where(c => c.Student.Class.IdClass == classItem.IdClass && c.IdConductSchedule == accountConductSchedule.IdConductSchedule).Count();
                                    <tr>
                                        <td>@(++index)</td>
                                        <td>@(classItem.ClassName)</td>
                                        <td>
                                            @{
                                    LecturerClass lecturerClass = classItem.LecturerClasses.FirstOrDefault();
                                    if (lecturerClass != null)
                                    {
                                        Lecturer lecturer = lecturerClass.Lecturer;
                                        @(lecturer != null ? lecturer.LastName + " " + lecturer.FirstName : "")
                                    }
                                            }
                                        </td>
                                        <td>
                                            @classItem.Students.Count()
                                        </td>
                                        <td>
                                            @if (totalStudent == totalEvaluated)
                                            {
                                                <label class="label label-success">Đã duyệt</label>
                                            }
                                            else
                                            {
                                                <label class="label label-danger">Chưa duyệt</label>
                                                @*<i class="fa fa-times color-danger" aria-hidden="true"></i>*@
                                            }
                                        </td>
                                        <td>
                                            <a href="../DanhGiaRenLuyen/DanhGiaLop?idClass=@classItem.IdClass" class="label label-info label-link">Chi tiết</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#myTable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table = $('#myTable').DataTable();

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
    function exportConductFaculty(idFaculty) {
        location.href = '/Conduct/ExportListClass?idFaculty=' + idFaculty;
    }

    function SubmitEvaluateFaculty(idFaculty) {
        $.ajax({
            type: 'POST',
            data: {
                idFaculty: idFaculty
            },
            url: '/Conduct/ConductApproveFaculty?idFaculty=' + idFaculty,
            beforeSend: function () {
                $('.modal-announcement-message').html("");
                loadIconLoading($('.cssload-container-over'));
                $('.cssload-container-over').append("Đang xử lý dữ liệu!");
                $('#modal-announcement').modal('show');
                $('.cssload-container-over').fadeIn();
            },
            success: function (response) {
                $('.cssload-container-over').hide();
                unloadIconLoading($('.cssload-container-over'));
                $('.modal-announcement-message').html(response.responseText);
                if (response.success == true)
                    $('#modal-announcement .modal-dialog .modal-content .modal-footer').html('<button type="button" class="btn btn-default" onclick="window.location.reload()">Đóng</button>')
                else
                    $('#modal-announcement .modal-dialog .modal-content .modal-footer').html('<button type="button" class="btn btn-default"  data-dismiss="modal">Đóng</button>')
            },
            error: function (result) {
                $('.cssload-container-over').hide();
                unloadIconLoading($('.modal-announcement-message'));
                $('.modal-announcement-message').html('Lỗi trong quá trình cập nhật dữ liệu!');
            }
        });
    }
    function ConfirmEvaluateFaculty(idFaculty) {
        $('.modal-announcement-message').html('Bạn có chắc muốn duyệt điểm tất cả các lớp không? </br>Khi đã duyệt điểm sẽ không thể chỉnh sửa điểm được nữa.');
        $('#modal-announcement .modal-dialog .modal-content .modal-footer').html('<button type="button" onclick="SubmitEvaluateFaculty(' + idFaculty + ')" class="btn btn-success">Xác nhận</button>  <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>')
        $('#modal-announcement').modal('show');
    }
</script>