@using PagedList.Mvc
@model PagedList.IPagedList<WEBPCTSV.Models.bean.News>

@{
    ViewBag.Title = "Quản lý slide ảnh";
    ViewBag.Active = "SlideAnh";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<ol class="breadcrumb box-shadow">
    <li>
        <a href="TrangChu">Trang chủ</a>
    </li>
    <li class="active">Quản lý Slide ảnh</li>
</ol>

<div class="main-content">
    <div class="funtion-block">
        <a class="btn btn-md btn-success" href="~/QuanLy/QuanLyBanner/Them">
            <i class="fa fa-plus-square"></i> Thêm mới
        </a>
    </div>
    <hr/>
    <div class="alert-result">
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                @((string)TempData["success"])
            </div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger">
                @((string)TempData["error"])
            </div>
        }
    </div>
    <div id="tbnoidung">
        <table class="table table-hover">
            <thead>
            <tr class="tieude">
                <th>ID</th>
                <th>Tiêu đề</th>
                <th>Ngày đăng</th>
                <th width="12%">Hiển thị</th>
                <th width="8%">Tùy Chọn</th>
            </tr>
            </thead>
            @foreach (var news in Model)
            {
                <tr class="noidung">
                    <td>@news.IdNews</td>
                    <td>@news.Title</td>
                    <td>
                        <p class="mota"> @news.UpdatedDate.ToString("dd/MM/yyyy") </p>
                    </td>
                    @if (news.IsPinned.Value)
                    {
                        <td>
                            <input type="checkbox" id="pin-to-top" checked onchange="PinToTop(@news.IdNews)"/>
                        </td>
                    }
                    else
                    {
                        <td>
                            <input type="checkbox" id="pin-to-top" onchange="PinToTop(@news.IdNews)"/>
                        </td>
                    }
                    <td>
                        <a href="../QuanLy/QuanLyBanner/CapNhat?id=@news.IdNews">
                            <span data-tooltip="true" title="Chỉnh sửa" class="btn btn-warning btn-sm">
                                <i class="fa fa-pencil color-white"></i>
                            </span>
                        </a>
                        <a href="../QuanLy/QuanLyBanner/Xoa?id=@news.IdNews">
                            <div data-tooltip="true" title="Xóa" class="btn btn-danger btn-sm">
                                <i class="fa fa-trash color-white"></i>
                            </div>
                        </a>
                    </td>
                </tr>
            }
        </table>
        <div class="menuTrang">
            @Html.PagedListPager(Model, page => Url.Action("../QuanLy/QuanLyBanner", new { page = page }))
        </div>
    </div>
</div>

<script type="text/javascript">
    function PinToTop(idNews) {
        $.ajax({
            url: "/QuanLy/QuanLyTinTuc/GhimTin",
            type: "post",
            dateType: "text",
            data: {
                idNews: idNews
            },
            success: function(result) {
                alert(result);
            }
        });
    }
</script>