@model SelectPlaceSP
@using WEBPCTSV.Models.Support;
@{
    SelectPlaceSP place = Model;
    WEBPCTSV.Models.bean.Province province = null;
    WEBPCTSV.Models.bean.District district = null;
    if(place.ward!=null)
    {
        province = place.ward.District.Province;
        district = place.ward.District;
    }
    
}
<div class="form-group" ng-controller="selectPlace">
    <label class="control-label col-sm-3">@place.note:</label>
    <div class="col-sm-2">
        <select id="selectProvive_@place.name" ng-init="selectProvive_@place.name = '@((place.ward!=null)?province.IdProvince:"")'" ng-model="selectProvive_@place.name" ng-change="SelectProvince('selectProvive_@place.name','selectDistrict_@place.name')" class="form-control">

            <option value="">Chọn tỉnh</option>
            @foreach (WEBPCTSV.Models.bean.Province provinceItem in ViewBag.listProvince)
            {
                <option value="@provinceItem.IdProvince">@provinceItem.ProvinceName</option>
            }
        </select>

    </div>
    <div class="col-sm-2">
        <select id="selectDistrict_@place.name" ng-init="selectDistrict_@place.name = '@((place.ward!=null)?district.IdDistrict:"")'" ng-model="selectDistrict_@place.name" ng-change="SelectDistrict('selectDistrict_@place.name','selectWard_@place.name')" class="form-control">
            @if (place.ward != null)
            {
                foreach (WEBPCTSV.Models.bean.District districtItem in province.Districts)
                {
                    string selected = "selected";
                    <option @if (district.IdDistrict == districtItem.IdDistrict) { @selected    } value="@districtItem.IdDistrict">@districtItem.DistrictName</option>
                }
            }
            else
            {
                <option value="">Chọn huyện</option>
            }

        </select>
    </div>
    <div class="col-sm-2">
        <select name="selectWard_@place.name" id="selectWard_@place.name" class="form-control">
            @if (place.ward != null)
            {
                foreach (WEBPCTSV.Models.bean.Ward ward in district.Wards)
                {
                    string selected = "selected";
                    <option @if(place.ward.IdWard==ward.IdWard){@selected} value="@ward.IdWard">@ward.WardName</option>
                }
            }
            else
            {
                <option value="">Chọn xã</option>
            }
            
        </select>
    </div>
</div>


