@using WEBPCTSV.Models.bean;

@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "EditStudent";
}
@using WEBPCTSV.Models.Support;
@{
    Student student = ViewBag.student;
}
<br />
<div class="container-layoutmanager" ng-controller="editStudent">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Thông tin cơ bản</a></li>
        <li><a href="/ManageStudent/EditStudent2?idStudent=@student.IdStudent">Lý lịch</a></li>
        <li><a href="/ManageStudent/EditStudent3?idStudent=@student.IdStudent">Sức khỏe</a></li>
        <li><a href="/ManageStudent/EditStudent4?idStudent=@student.IdStudent">Bổ sung</a></li>
        <li><a href="/ManageStudent/EditStudentRelative?idStudent=@student.IdStudent">Gia đình</a></li>
        <li><a href="/ManageStudent/EditStudentSocialActivity?idStudent=@student.IdStudent">Hoạt động xã hội</a></li>
        <li><a href="/ManageStudent/EditStudentAcademicAchievement?idStudent=@student.IdStudent">Thành tích học tập</a></li>
    </ul>


    <div class="form-horizontal">
        <br />
        <strong>Thông tin cơ bản:</strong>
        <br />

        <div class="form-group">
            <label class="control-label col-sm-3" for="lastname">Ảnh sinh viên:</label>
            <div class="col-sm-6">
                @if (student.LinkAvatar == null)
                {
                    <img src="~/assets/images/icon/Contacts.svg" width="150" height="200" data-toggle="tooltip" title="Ảnh có kích thước 3:4!" />
                }
                else
                {
                    <img src="@student.LinkAvatar" width="150" height="200" data-toggle="tooltip" title="Ảnh có kích thước 3:4!" />
                }

                @if (CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "thaydoianhcanhan"))
                {
                    <form action="/File/UploadImageStudent?idStudent=@student.IdStudent" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <input class="form-control" type="file" name="file" />
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Upload</button>
                            </div>
                        </div>
                    </form>
                }     
            </div>
        </div>

    </div>

    <form class="form-horizontal" action="/ManageStudent/ProcessEditStudent?idStudent=@student.IdStudent" method="post">
        

        <div class="form-group">
            <label class="control-label col-sm-3" for="lastname">Họ tên sinh viên:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Họ và tên lót" value="@student.LastNameStudent" @if (!CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "chinhsuathongtinsinhvien")) {@: disabled
                                                                                                                                                   }>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="firstName" id="firstName" placeholder="Tên" value="@student.FirstNameStudent" @if (!CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "chinhsuathongtinsinhvien")) { @: disabled
                                                                                                                                                                          }>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="studentNumber">Mã số sinh viên:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="studentNumber" id="studentNumber" value="@student.StudentNumber" placeholder="mã sinh viên gồm chữ số" @if (!CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "chinhsuathongtinsinhvien")) { @: disabled
                                                                                                                                                                          }>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Giới tính:</label>
            <div class="col-sm-6">
                <label class="radio-inline">
                    <input type="radio" name="sexRadio" @if (student.Sex.Equals("Nam")) { @: checked
                     } value="Nam">Nam
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sexRadio" @if (student.Sex.Equals("Nữ")) { @: checked
                    } value="Nữ">Nữ
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="birthday">Ngày Sinh:</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" name="birthday" id="birthday" value='@if(student.BirthDay!=null){@student.BirthDay.Value.ToString("yyyy-MM-dd")}' placeholder="mã sinh viên gồm chữ số">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Chọn Khoa:</label>
            <div class="col-sm-6">
                <select name="selectFaculty" id="selectFaculty" ng-init="selectFaculty='@(student.IdClass!=null? student.Class.IdFaculty+"" : "" )'" ng-model="selectFaculty" ng-change="ChangeSelectFaculty()" class="form-control" @if (!CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "chinhsuathongtinsinhvien")) { @: disabled
                    }>
                    <option value="">Chọn Khoa</option>
                    @foreach (Faculty faculty in ViewBag.listFaculty)
                    {
                        <option value="@faculty.IdFaculty">@faculty.FacultyName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Chọn Khóa:</label>
            <div class="col-sm-6">
                <select name="selectCourse" id="selectCourse" ng-init="selectCourse='@(student.IdClass!=null? student.Class.IdCourse+"" : "" )'" ng-model="selectCourse" ng-change="ChangeSelectFaculty()" class="form-control" @if (!CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "chinhsuathongtinsinhvien")) { @: disabled
                    }>
                    <option value="">Chọn Khóa</option>
                    @foreach (Course course in ViewBag.listCourse)
                    {
                        <option value="@course.IdCourse">@course.CouseName</option>
                    }
                </select>


            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Chọn Lớp:</label>
            <div id="divClass" class="col-sm-6">
                <select name="selectClass" id="selectClass" class="form-control" @if (!CheckDecentralization.Check(Convert.ToInt32(Session["idDecenTralizationGroup"]), "chinhsuathongtinsinhvien")) { @: disabled
                    }>
                    @{
                        if (student.IdClass != null)
                        {
                            List<Class> listClass = student.Class.Faculty.Classes.Where(c => c.IdCourse == student.Class.IdCourse).ToList();
                            foreach (Class c in listClass)
                            {
                                <option @if (c.IdClass == student.IdClass) { @: selected
                                    } value="@c.IdClass">
                                    @c.ClassName
                                </option>
                            }
                        }

                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="studentNumber">Số điện thoại:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="mobilePhoneNumber" id="mobilePhoneNumber" value="@student.MobilePhoneNumber" placeholder=" Di dộng ">
                <br />
                <input type="text" class="form-control" name="landlinePhoneNumber" id="landlinePhoneNumber" value="@student.LandlineNumber" placeholder=" Cố định ">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="email">Email:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="email" id="email" value="@student.Email" placeholder="vd: abc@xyz.com ">
            </div>
        </div>

        <br />
        <div class="form-group">
            <label class="control-label col-sm-3">
                <input type="submit" value="Lưu lại" class="btn btn-success control-label" />
            </label>
        </div>


    </form>
</div>

