@using WEBPCTSV.Models.bean;

@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "EditStudent3";
}
@using WEBPCTSV.Models.Support;

<br />
@{
    Student student = ViewBag.student;
}
<div class="container-layoutmanager">
    <ul class="nav nav-tabs">
        <li><a href="/ManageStudent/EditStudent?idStudent=@student.IdStudent">Thông tin cơ bản</a></li>
        <li><a href="/ManageStudent/EditStudent2?idStudent=@student.IdStudent"> Lý lịch</a></li>
        <li class="active"><a href="#">Thông tin sức khỏe</a></li>
        <li><a href="/ManageStudent/EditStudent4?idStudent=@student.IdStudent"> Bổ sung</a></li>
        <li><a href="/ManageStudent/EditStudentRelative?idStudent=@student.IdStudent">Gia đình</a></li>
        <li><a href="/ManageStudent/EditStudentSocialActivity?idStudent=@student.IdStudent">Hoạt động xã hội</a></li>
        <li><a href="/ManageStudent/EditStudentAcademicAchievement?idStudent=@student.IdStudent">Thành tích học tập</a></li>
    </ul>
    <form class="form-horizontal" action="/ManageStudent/ProcessEditStudent3?idStudent=@student.IdStudent" method="post">
        <br />
        <strong>Thông tin cơ bản:</strong>
        <br />


        <div class="form-group">
            <label class="control-label col-sm-3" for="HealthInsuranceNumber">Số bảo hiểm y tế:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="HealthInsuranceNumber" value="@student.HealthInsuranceNumber" id="HealthInsuranceNumber" placeholder="số bảo hiểm y tế">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-3" for="registeredMedicalArea">Nơi đăng ký khám, chữa bệnh:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="registeredMedicalArea" id="registeredMedicalArea" value="@student.RegisteredMedicalArea" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Nhóm máu:</label>
            <div class="col-sm-6">
                <select name="selectBloodGroup" id="selectBloodGroup" class="form-control">
                    <option value=""> Chọn nhóm máu</option>
                    @foreach (BloodGroup bloodgroup in ViewBag.bloodgroup)
                    {
                        <option @if(student.IdBloodGroup == bloodgroup.IdBloodGroup){@: selected
                                } value="@bloodgroup.IdBloodGroup">@bloodgroup.BloodGroupName</option>
                    }
                </select>
            </div>

        </div>


        <div class="form-group">
            <label class="control-label col-sm-3" for="healthStatus">Tình trạng sức khỏe:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="healthStatus" id="healthStatus" value="@student.HealthStatus" placeholder="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="numberbloodDonors">Số lần hiến máu:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="numberbloodDonors" id="numberbloodDonors" value="@student.NumberBloodDonors" placeholder="">
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="weight">Cân nặng</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="weight" id="weight" value="@student.Weight" placeholder="Đơn vị: Kg">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3" for="height">Chiều cao:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="height" id="height" value="@student.Height" placeholder="Đơn vị: cm">
            </div>
        </div>



        <br />
        <div class="form-group">
            <label class="control-label col-sm-3">
                <input type="submit" value="Lưu lại" class="btn btn-success control-label" />
            </label>
        </div>


    </form>
</div>


