@model WEBPCTSV.Models.bean.NewsEvent

@{
    ViewBag.Title = "Cập nhật sự kiện";
    ViewBag.Active = "SuKien";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<script src="~/Content/ckfinder/ckfinder.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="~/js/jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document)
        .ready(
            function() {
                jQuery.validator.addMethod("greaterThan",
                    function(value, element, params) {
                        if ($(params[0]).val() != '') {
                            if (!/Invalid|NaN/.test(new Date(value))) {
                                return new Date(value) >= new Date($(params[0]).val());
                            }
                            return isNaN(value) && isNaN($(params[0]).val()) ||
                            (Number(value) >= Number($(params[0]).val()));
                        };
                        return true;
                    },
                    'Giá trị ngày phải lớn hơn {1}.');
                jQuery.validator.addMethod("smallerThan",
                    function(value, element, params) {
                        if ($(params[0]).val() != '') {
                            if (!/Invalid|NaN/.test(new Date(value))) {
                                return new Date(value) <= new Date($(params[0]).val());
                            }
                            return isNaN(value) && isNaN($(params[0]).val()) ||
                            (Number(value) <= Number($(params[0]).val()));
                        };
                        return true;
                    },
                    'Giá trị ngày phải bé hơn {1}.');
                $("#fAddInfo")
                    .validate(
                    {
                        ignore: [],
                        rules: {
                            title: {
                                required: true,
                            },
                            description: {
                                required: true,
                            },
                            beginDate: {
                                required: true,
                                date: true,
                                smallerThan: ['#endDate', 'ngày kết thúc']
                            },
                            endDate: {
                                required: true,
                                date: true,
                                greaterThan: ['#beginDate', 'ngày bắt đầu']
                            },
                            eventTime: {
                                required: true,
                            },
                            eventVenue: {
                                required: true,
                            },
                            contentHtml: {
                                required: function() {
                                    CKEDITOR.instances.contentHtml.updateElement();
                                }
                            },
                        },
                        messages: {
                            title: {
                                required: "Chưa nhập tiêu đề!",
                            },
                            description: {
                                required: "Chưa nhập mô tả!",
                            },
                            beginDate: {
                                required: "Chưa nhập ngày bắt đầu!",
                                date: "Nhập sai định dạng ngày."
                            },
                            endDate: {
                                required: "Chưa nhập ngày kết thúc!",
                                date: "Nhập sai định dạng ngày."
                            },
                            eventTime: {
                                required: "Chưa nhập thời gian diễn ra!",
                            },
                            eventVenue: {
                                required: "Chưa nhập địa điểm tổ chức!",
                            },
                            contentHtml: {
                                required: "Chưa nhập nội dung!",
                            },
                        },

                        submitHandler: function(form) {
                            form.submit();
                        }
                    });
            });
</script>
<style type="text/css">

    
    
    
</style>
<ol class="breadcrumb box-shadow">
    <li>
        <a href="TrangChu">Trang chủ</a>
    </li>
    <li>
        <a href="~/QuanLy/QuanLySuKien">Quản lý sự kiện</a>
    </li>
    <li class="active">Cập nhật sự kiện</li>
</ol>

<div class="main-content">
    <div class="col-xs-12 col-sm-12">
        <div class="main-form">
            @using (Html.BeginForm("CapNhat", "QuanLy/QuanLySuKien", FormMethod.Post, new { @id = "fAddInfo" }))
            {
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" readonly name="idNewsEvent" value="@Model.IdNewsEvent">
                </div>
                <div class="form-group">
                    <label>Tên sự kiện</label>
                    <input type="text" class="form-control" placeholder="Tên sự kiện" name="title" value="@Model.News.Title">
                </div>
                <div>
                    <label><input type="checkbox" @(Model.News.IsPinned.Value ? "checked" : string.Empty) name="isPinned">Ghim tin quan trọng</label>
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea id="description" name="description" class="form-control" rows="3" placeholder="Nội dung mô tả">@Model.News.Description</textarea>
                </div>
                <div class="col-xs-6" style="padding-bottom: 15px; padding-left: 0px;">
                    <label>Ngày bắt đầu</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                        <input type="date" class="form-control" placeholder="Ngày bắt đầu" id="beginDate" name="beginDate" value="@Model.BeginDate.Value.ToString("yyyy-MM-dd")">
                    </div>
                </div>
                <div class="col-xs-6" style="padding-bottom: 15px; padding-left: 30px;">
                    <label>Ngày kết thúc</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                        <input type="date" class="form-control" placeholder="Ngày kết thúc" id="endDate" name="endDate" value="@Model.EndDate.Value.ToString("yyyy-MM-dd")">
                    </div>
                </div>
                <div class="form-group">
                    <label>Thời gian diễn ra</label>
                    <input type="text" class="form-control" placeholder="Thời gian diễn ra" name="ThoiGianDienRa" value="@Model.EventTime">
                </div>
                <div class="form-group">
                    <label>Địa điểm tổ chức </label>
                    <input type="text" class="form-control" placeholder="Địa điểm tổ chức	" name="DiaDiemToChuc" value="@Model.EventVenue">
                </div>
                <div class="form-group">
                    <label>Nội dung</label>
                    <textarea id="contentHtml" name="contentHtml">@Model.News.ContentHtml</textarea>
                </div>
                <div class="form-group">
                    <label>Hình ảnh</label>
                    <div class="input-group">
                        <input class="form-control" type="text" id="image" name="image" value="@Model.News.Image"/>
                        <div class="input-group-btn">
                            <button type="button" id="brow" class="btn btn-primary">
                                <i class="fa fa-plus" aria-hidden="true"></i> Chọn ảnh
                            </button>
                        </div>
                    </div>
                    <p class="help-block">Chọn file .png, .jpg ...</p>
                </div>
                <div class="form-group">
                    <label>File đính kèm</label>
                    <button type="button" id="browfile" class="btn btn-primary btn-xs">
                        <i class="fa fa-plus" aria-hidden="true"></i> Thêm tệp
                    </button>
                    <input type="hidden" id="attachedDocuments" name="attachedDocuments" placeholder="Chọn file đính kèm ..." value="@Model.News.AttachedDocuments"/>
                    <table>
                        <tbody id="table-file"></tbody>
                    </table>
                </div>
                <input class="btn btn-danger" type="submit" value="Hoàn tất"/>
                <input class="btn btn-warning" type="reset" value="Reset"/>
            }
        </div>
    </div>
</div>

<script>
    $(document)
        .ready(function() {


            showListAttachedDocument();
            $("#brow")
                .click(function() {
                    var ck = new CKFinder();
                    ck.selectActionFunction = function(fileUrl) {
                        $("#image").val(fileUrl);
                    };
                    ck.popup();
                });
            $("#browfile")
                .click(function() {
                    var ck = new CKFinder();
                    ck.selectActionFunction = function(fileUrl) {
                        $("#attachedDocuments").val($("#attachedDocuments").val() + ':' + fileUrl);
                        showListAttachedDocument();
                    };
                    ck.popup();
                });
        });

    function showListAttachedDocument() {
        $("#table-file").html("");
        var x = ($("#attachedDocuments").val()).substr(1);
        if (x != "") {
            var arrayFiles = x.split(":");
            $.each(arrayFiles,
                function(index, file) {
                    $("#table-file")
                        .append('<tr>' +
                            '<td><i class="fa fa-file-text-o" aria-hidden="true"></i></td>' +
                            '<td id="table-file-' +
                            index +
                            '">' +
                            decodeURI(file) +
                            '</td>' +
                            '<td><i class="fa fa-times" aria-hidden="true" onclick="deleteFile(' +
                            index +
                            ')"></i></td>' +
                            '</tr>');
                });
        }
    }

    function deleteFile(index) {
        var files = $("#attachedDocuments").val();
        var x = ":" + $("#table-file-" + index).text();
        $("#attachedDocuments").val(files.replace(encodeURI(x), ""));
        showListAttachedDocument();
        console.log("ok");
    }

    var ckeditor;

    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, { language: languageCode });
    };

    $(function() {
        createEditor('vi', 'contentHtml');
    });
</script>