@{
    ViewBag.Title = "InfoStaff";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@using WEBPCTSV.Models.bean;

<h3>Thông tin nhân viên</h3>
@{
    Staff staff = ViewBag.staff;
}

<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-3" for="lastname">Ảnh nhân viên:</label>
        <div class="col-sm-6">
            @if (staff.Image == null)
            {
                <img src="~/assets/images/icon/Contacts.svg" width="150" height="200" data-toggle="tooltip" title="Ảnh có kích thước 3:4!" />
            }
            else
            {
                <img src="@staff.Image" width="150" height="200" data-toggle="tooltip" title="Ảnh có kích thước 3:4!" />
            }

            <form action="/File/UploadImageStaff?idStaff=@staff.IdStaff" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <input class="form-control" type="file" name="file" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Upload</button>
                    </div>
                </div>
            </form>


        </div>
    </div>

</div>



<form class="form-horizontal" role="form" action="/ManageStaff/UpdateStaffByPerson" method="post">
    <div class="form-group">
        <label class="control-label col-sm-3" for="username">Tên tài khoản:</label>
        <div class="col-sm-6">
            <input name="idStaff" id="idStaff" type="hidden" value="@staff.IdStaff" />
            <input name="username" id="username" type="text" disabled value="@staff.Account.UserName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="name">Họ và tên:</label>
        <div class="col-sm-6">
            <input name="name" id="name" type="text" required value="@staff.Name" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="IdentityCardNumber">Số chứng minh nhân dân:</label>
        <div class="col-sm-6">
            <input name="IdentityCardNumber" id="IdentityCardNumber" value="@staff.IdentityCardNumber" type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="Position">Vị trí:</label>
        <div class="col-sm-6">
            <input name="Position" id="Position" type="text" value="@staff.Position" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="birthday">Ngày sinh:</label>
        <div class="col-sm-6">
            <input name="birthday" id="birthday" type="date" value="@if (staff.Birthday != null) { @staff.Birthday.Value.ToString("yyyy-MM-dd")}" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="phone">Số điện thoại:</label>
        <div class="col-sm-6">
            <input name="phone" id="phone" type="text" value="@staff.PhoneNumber" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="email">Email:</label>
        <div class="col-sm-6">
            <input name="email" id="email" type="text" value="@staff.Email" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="address">Địa chỉ:</label>
        <div class="col-sm-6">
            <input name="address" id="address" type="text" value="@staff.Address" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="address">Địa chỉ:</label>
        <div class="col-sm-6">
            <button type="submit" style="float:left" class="btn btn-primary">Lưu lại</button>
            <a href="/ManageStaff/DeleteStaff?idStaff=@staff.IdStaff"><label style="float:left;margin-left:10px" class="btn btn-danger"> Xoá </label></a>
        </div>
    </div>
</form>