@using WEBPCTSV.Models.bean;
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "EditPaper";
}
<script src="~/Content/ckeditor2/ckeditor.js"></script>
<h3 class="header-paper">Chỉnh sửa giấy tờ</h3>
@{
    Paper paper = ViewBag.paper;
}

<div style="width:100%;padding:10px" ng-controller="editPaper">
    <button id="btnUpdateContent" ng-click="UpdatePaperContent('@paper.IdPaper','contentEditPaper')" class="btn btn-primary" >Lưu lại</button>

    <button style="margin-left:10px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditPaper"><span class="glyphicon glyphicon-edit "></span> Chỉnh sửa </button>

    <!-- Modal -->
    <div id="EditPaper" class="modal fade" role="dialog">
        <form action="/ManagePaper/UpdatePaper?idPaper=@paper.IdPaper" method="post" class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thông tin giấy tờ </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group row form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-sm-5" for="priceUrgency">Giá tiền khẩn cấp:</label>
                            <div class="input-group col-sm-5">
                                <input class="form-control" id="priceUrgency" required value="@paper.PriceUrgency" name="priceUrgency" type="text" />
                                <span class="input-group-addon"> VND </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="waittingPeriod">Thời gian chờ khẩn cấp:</label>
                            <div class="input-group col-sm-5">
                                <input class="form-control" id="waittingPeriodUrgency" name="waittingPeriodUrgency" required value="@paper.WaittingPeriodUrgency" type="text" />
                                <span class="input-group-addon"> Ngày </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-5" for="priceNormal">Giá tiền bình thường:</label>
                            <div class="input-group col-sm-5">
                                <input class="form-control" id="priceNormal" name="priceNormal" required value="@paper.PriceNormal" type="text" />
                                <span class="input-group-addon"> VND </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="waittingPeriodNormal">Thời gian chờ bình thường:</label>
                            <div class="input-group col-sm-5">
                                <input class="form-control" id="waittingPeriodNormal" name="waittingPeriodNormal" required value="@paper.WaittingPeriodNormal" type="text" />
                                <span class="input-group-addon"> Ngày </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="float:left">Lưu chỉnh sửa</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </form>
    </div>

    <button style="margin-left:10px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#KeyWord"><i class="fa fa-wordpress" aria-hidden="true"></i> Từ khóa </button>

    <!-- Modal -->
    <div id="KeyWord" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Từ khóa </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Từ khóa</td><td>Từ khóa tiếng anh</td><td>Giải thích</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>#hovaten</td><td>#fullname</td><td>Họ và tên sinh viên</td>                            
                            </tr>
                            <tr>
                                <td>#lop</td><td></td><td>Lớp sinh viên đang học</td>
                            </tr>
                            <tr>
                                <td>#khoa</td>
                                <td>#faculty</td>
                                <td>Khoa sinh viên đang học</td>
                            </tr>
                            <tr>
                                <td>#nganh</td>
                                <td>#major</td>
                                <td>Ngành sinh viên đang học</td>
                            </tr>
                            <tr>
                                <td>#khoahoc</td>
                                <td></td>
                                <td>Sinh viên khóa bao nhiêu</td>
                            </tr>
                            <tr>
                                <td>#nganh</td>
                                <td>#major</td>
                                <td>Chuyên ngành sinh viên</td>
                            </tr>
                            <tr>
                                <td>#ngaysinh</td>
                                <td>#birthday</td>
                                <td>Ngày sinh của sinh viên</td>
                            </tr>
                            <tr>
                                <td>#gioitinh</td>
                                <td>#sex</td>
                                <td>Giới tính của sinh viên</td>
                            </tr>
                            <tr>
                                <td>#loaihinhdaotao</td>
                                <td>#madeofstudy</td>
                                <td>Loại hình đào tạo</td>
                            </tr>
                            <tr>
                                <td>#trinhdodaotao</td>
                                <td>#leveloftraining</td>
                                <td>Trình độ đào tạo</td>
                            </tr>
                            <tr>
                                <td>#sothesinhvien</td>
                                <td></td>
                                <td>Mã số sinh viên</td>
                            </tr>
                            <tr>
                                <td>#ngaynhaphoc</td>
                                <td></td>
                                <td>Ngày nhập học</td>
                            </tr>
                            <tr>
                                <td>#ngayratruong</td>
                                <td></td>
                                <td>Ngày ra trường</td>
                            </tr>
                            <tr>
                                <td>#thoigianhoctaitruong</td>
                                <td></td>
                                <td>Thời gian học tại trường</td>
                            </tr>
                            <tr>
                                <td>#tienhocphithang</td>
                                <td></td>
                                <td>Tiền học phí hàng tháng</td>
                            </tr>
                            <tr>
                                <td>#socmnd</td>
                                <td></td>
                                <td>Số chứng minh nhân dân</td>
                            </tr>
                            <tr>
                                <td>#ngaycapcmnd</td>
                                <td></td>
                                <td>Ngày cấp chứng minh nhân dân</td>
                            </tr>
                            <tr>
                                <td>#noicapcmnd</td>
                                <td></td>
                                <td>Nơi cấp chứng minh nhân dân</td>
                            </tr>
                            <tr>
                                <td>#noisinh(tinh)</td>
                                <td></td>
                                <td>Tĩnh nơi sinh</td>
                            </tr>
                            <tr>
                                <td>#khongmiengiam</td>
                                <td></td>
                                <td>Đối tượng không miễn giãm học phí</td>
                            </tr>
                            <tr>
                                <td>"#giamhocphi"</td>
                                <td></td>
                                <td>Đổi tượng giảm học phí</td>
                            </tr>
                            <tr>
                                <td>"#mienhocphi"</td>
                                <td></td>
                                <td>Đối tượng miễn học phí</td>
                            </tr>
                            <tr>
                                <td>#mocoi</td>
                                <td></td>
                                <td>Đối tượng mồ côi</td>
                            </tr>
                            <tr>
                                <td>#khongmocoi</td>
                                <td></td>
                                <td>Đối tượng không mô côi</td>
                            </tr>
                            <tr>
                                <td>#hokhauthuongtru</td>
                                <td></td>
                                <td>Hộ khẩu thường trú bổ sung</td>
                            </tr>
                            <tr>
                                <td>#bangkequarenluyen</td>
                                <td>#tablepointraining</td>
                                <td>Bảng kết quả rèn luyện</td>
                            </tr>
                            <tr>
                                <td>#diemtrungbinhrenluyen</td>
                                <td></td>
                                <td>Điểm trung bình rèn luyện</td>
                            </tr>
                            <tr>
                                <td>#xeploairenluyen</td>
                                <td>#ranktraining</td>
                                <td>Xếp loại rèn luyện</td>
                            </tr>
                            <tr>
                                <td>#ngay #thang #nam</td>
                                <td></td>
                                <td>Ngày Tháng Năm</td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <a href="/ManagePaper/DeletePaper?idPaper=@paper.IdPaper" onclick="return confirm('Bạn chắc chắn muốn xóa?')"><button type="button" class="btn btn-danger">Xóa</button></a>

    
    <div style="width:195mm;min-height:500px; border:1px dotted #b2b2b2;margin-top:5px" name="contentEditPaper" id="contentEditPaper" contenteditable="true">
        @Html.Raw(paper.ContentPaper)
    </div>

    <button class="btn btn-danger" ng-click="PrintHtml('contentEditPaper')"> Print</button>
    <hr />
    <h4>Lý do :</h4>
    <div id="reasonsEditPaper">
        @Html.Partial("_AddReasonRequest", paper)
    </div>

    <hr />
    <strong>Thêm lý do yêu cầu:</strong>
    <br />
    <textarea id="reasonRequestEditPaper" ng-model="reasonRequestEditPaper" class="form-control" placeholder="nội dung lý do" style="width:80%"></textarea>
    <br />

    <button id="btnAdd" ng-click="AddReasonRequest('@paper.IdPaper')" class="btn btn-success">Thêm lý do</button>

</div>
<script>

    CKEDITOR.on('dialogDefinition', function (ev) {
        var dialogName = ev.data.name;
        var dialogDefinition = ev.data.definition;

        if (dialogName == 'table') {
            var info = dialogDefinition.getContents('info');

            info.get('txtWidth')['default'] = '100%';       // Set default width to 100%
            info.get('txtBorder')['default'] = '0';         // Set default border to 0
        }
    });

    CKEDITOR.inline('contentEditPaper', {
        extraPlugins: 'tableresize,divarea,lineheight',
        enterMode : CKEDITOR.ENTER_DIV,
    });


</script>