@using WEBPCTSV.Models.bean
@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    ViewBag.Title = "Class";
}

<h3 class="header-paper">Quản lý khoa</h3>
@{
    List<Class> listClass = ViewBag.Class;
}
<div ng-controller="ManageFaculty" class="container-layoutmanager">

    <table class="table table-hover" style="width: 500px">
        <thead>
        <tr>
            <th>STT</th>
            <th>Mã Khoa</th>
            <th>Tên Khoa</th>
            <th>Mã đại diện</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @{
            int stt = 1;
        }
        @foreach (Faculty faculty in ViewBag.Faculty)
        {
            <tr>
                <td>@stt</td>
                <td>@faculty.NumberFaculty</td>
                <td>@faculty.FacultyName</td>
                <td>@faculty.Acronym</td>
                <td>

                    <label class="label label-success" data-toggle="modal" data-target="#modalEditFaculty_@faculty.IdFaculty">Edit</label>
                    <div id="modalEditFaculty_@faculty.IdFaculty" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-sm">

                            <!-- Modal content-->
                            <form class="modal-content" action="/ManageClass/UpdateFaculty?idFaculty=@faculty.IdFaculty" method="post">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"> Chỉnh sửa Khoa</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-horizontal" role="form">
                                        <div class="form-group">
                                            <label class="control-label col-sm-5" for="email">Mã Khoa:</label>
                                            <div class="col-sm-7">
                                                <input name="NumberFaculty" value="@faculty.NumberFaculty" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5" for="email">Tên Khoa:</label>
                                            <div class="col-sm-7">
                                                <input name="FacultyName" value="@faculty.FacultyName" type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-5" for="email">Mã đại diện:</label>
                                            <div class="col-sm-7">
                                                <input name="FacultyAcronym" value="@faculty.Acronym" type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary" style="float: left"> Lưu chỉnh sửa </button>
                                    <a href="/ManageClass/DeleteFaculty?idFaculty=@faculty.IdFaculty">
                                        <label class="btn btn-danger" style="float: left; margin-left: 10px"> Xóa</label>
                                    </a>
                                    <button type="button" class="btn btn-default" onclick="window.location.reload();" data-dismiss="modal">Đóng</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </td>
            </tr>
            stt++;
        }
        </tbody>
    </table>

    <button class="btn btn-primary" data-toggle="modal" data-target="#modalAddFaculty"><i class="fa fa-plus" aria-hidden="true"></i> Thêm Khoa</button>
    <div id="modalAddFaculty" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <form class="modal-content" action="/ManageClass/AddFaculty" method="post">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Thêm Khoa </h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="email">Mã Khoa:</label>
                            <div class="col-sm-7">
                                <input name="NumberFaculty" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="email">Tên Khoa:</label>
                            <div class="col-sm-7">
                                <input name="FacultyName" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="email">Mã đại diện:</label>
                            <div class="col-sm-7">
                                <input name="FacultyAcronym" type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="float: left"> Thêm </button>
                    <button type="button" class="btn btn-default" onclick="window.location.reload();" data-dismiss="modal">Đóng</button>
                </div>
            </form>

        </div>
    </div>
</div>