@using WEBPCTSV.Models.bean
<link rel="stylesheet" href="/assets/css/dataTables.bootstrap.min.css">
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap.min.js"></script>

@{
    AccountSession accountSession = (AccountSession)Session["AccountSession"];
    List<Student> listStudent = null;
    ConductEvent currentEvent = null;
    ConductSchedule lastConductSchedule = null;
    int index = 0;
    if (ViewBag.error == null)
    {
        listStudent = ViewBag.listStudent;
        currentEvent = ViewBag.conductEvent;
        lastConductSchedule = ViewBag.lastConductSchedule;
        currentEvent = ViewBag.currentEvent;
    }

}
<div class="listbox-content">
    @if (ViewBag.error != null)
    {
        <div class="alert alert-danger">
            @ViewBag.error
        </div>
    }
    else
    {
        TempData["idClass"] = ViewBag.classId;
        <p class="conduct-class-header">DANH SÁCH ĐIỂM RÈN LUYỆN LỚP @ViewBag.className</p>
        <div class="conduct-schedule table-responsive">
            <table id="myTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>STT</td>
                    <td>MSSV</td>
                    <td>Họ tên</td>
                    <td>@lastConductSchedule.DecentralizationGroup.DecentralizationGroupName ĐG</td>
                    <td width="80px">Thao tác</td>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>STT</th>
                    <th>MSSV</th>
                    <th>Họ tên</th>
                    <th>@lastConductSchedule.DecentralizationGroup.DecentralizationGroupName ĐG</th>
                    <th width="80px">Thao tác</th>
                </tr>
                </tfoot>
                <tbody>
                @foreach (Student student in listStudent)
                {
                    ConductResult conductResult = student.ConductResults.SingleOrDefault(c => c.IdConductEvent == currentEvent.IdConductEvent && c.IdConductSchedule == lastConductSchedule.IdConductSchedule);
                    int total = 0;
                    if (conductResult != null)
                    {
                        string[] arrPairValue = conductResult.PartialPoint.Split(';');
                        foreach (string pair in arrPairValue)
                        {
                            try
                            {
                                total += int.Parse(pair.Split(':')[1]);
                            }
                            catch (Exception)
                            {
                            }
                        }
                    }

                    string isPrefect = (student.Account.IdDecentralizationGroup == 3) ? " (" + student.Account.DecentralizationGroup.DecentralizationGroupName + ")" : string.Empty;
                    if (student.IsReserved.Value == true || student.IsExpelled.Value == true || student.IsGraduated == true)
                    {
                        continue;
                    }

                    <tr class="@((total == 0) ? "color-danger" : string.Empty) SV-@student.IdStudent">
                        <td>@(++index)</td>
                        <td>@(student.StudentNumber)</td>
                        <td>@(student.LastNameStudent + " " + student.FirstNameStudent)@isPrefect</td>
                        <td>
                            <span class="conduct-point-new">@total</span>
                            <span class="conduct-icon-status">
                                    @if (conductResult != null && conductResult.IsApproved)
                                    {
                                        <i class="fa fa-check color-success" aria-hidden="true" title="Đã được duyệt"></i>
                                    }
                                    else if (conductResult != null && conductResult.IsSaved)
                                    {
                                        <i class="fa fa-floppy-o" aria-hidden="true" title="Chỉ lưu chưa được duyệt"></i>
                                    }
                                </span>
                        </td>
                        <td>
                            <span class="conduct-icon-action">
                                    <span onclick="EditStudent(@student.IdStudent)" class="label label-primary label-link">Chỉnh sửa</span>
                                </span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
</div>
<script>
    function EditStudent(idStudent) {
        idSemester = $('#idSemester').val();

        $.ajax({
            type: 'POST',
            data: {
                idStudent: idStudent,
                idSemester: idSemester
            },
            url: '/QuanLy/QuanLyRenLuyen/ChinhSuaSinhVien',
            success: function(response) {
                $('#tbnoidung').html(response);
            },
        });
    }

    $(document)
        .ready(function() {
            // Setup - add a text input to each footer cell
            $('#myTable tfoot th')
                .each(function() {
                    var title = $(this).text();
                    $(this).html('<input type="text" placeholder="Search ' + title + '" />');
                });

            // DataTable
            var table = $('#myTable').DataTable();

            // Apply the search
            table.columns()
                .every(function() {
                    var that = this;

                    $('input', this.footer())
                        .on('keyup change',
                            function() {
                                if (that.search() !== this.value) {
                                    that
                                        .search(this.value)
                                        .draw();
                                }
                            });
                });
        });
</script>