@using WEBPCTSV.Models.bean
@{
    ViewBag.Title = "Quản lý điểm rèn luyện";
    ViewBag.Active = "RenLuyen";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
<ol class="breadcrumb box-shadow">
    <li>
        <a href="TrangChu">Trang chủ</a>
    </li>
    <li class="active">Quản lý điểm rèn luyện</li>
</ol>

<div class="main-content">
    <div class="funtion-block">
        <div class="form-horizontal">
            <label class="control-label col-sm-2">Chọn kỳ học</label>
            <div class="col-sm-3">
                <select class="form-control" id="idSemester">
                    @foreach (Semester semester in ViewBag.semesters)
                    {
                        <option value="@semester.IdSemester">Học kỳ @semester.SemesterYear.SemesterYearName năm học @semester.Year.YearName</option>
                    }
                </select>
            </div>

            <label class="control-label col-sm-2">Chọn khoa</label>
            <div class="col-sm-3">
                <select class="form-control" id="idFaculty">
                    @foreach (Faculty faculty in ViewBag.faculties)
                    {
                        <option value="@faculty.IdFaculty">@faculty.FacultyName</option>
                    }
                </select>
            </div>
            <div>
                <button class="btn btn-primary" onclick="showClasses()">Xem</button>
                <button class="btn btn-default add-excel">
                    Nhập kết quả
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div id="tbnoidung">
    </div>
</div>

<!-- Modal -->
<div id="modal-excel" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Import kết quả đánh giá rèn luyện từ file excel</h4>
            </div>
            @using (Html.BeginForm("ImportConductResult", "QuanLy/QuanLyRenLuyen", FormMethod.Post, new { enctype = "multipart/form-data", @id = "fImportExcel", @class = "form-horizontal" }))
            {
                <div class="modal-body">
                    <div class="modal-message" style="display: none;">
                    </div>
                    <div class="modal-loading alert alert-info" style="display: none;">

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Chọn kỳ học</label>
                        <div class="col-md-9">
                            <select class="form-control" id="modal-input-semester" name="IdSemester">
                                @foreach (Semester semester in ViewBag.semesters)
                                {
                                    <option value="@semester.IdSemester">Học kỳ @semester.SemesterYear.SemesterYearName năm học @semester.Year.YearName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Chọn tệp</label>
                        <div class="col-md-9">
                            <input class="form-control" type="file" id="UploadedFile" name="UploadedFile"/>
                        </div>
                        <label class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <span class="text-danger">File dữ liệu tải lên phải đúng theo mẫu sau đây: <a title="File mẫu import" href="~/Files/Sample.xlsx">File mẫu</a></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="Submit" class="btn btn-md btn-warning" value="Thêm Excel">Thêm Excel</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            }
        </div>
    </div>
</div>

<script src="~/js/jquery.form.js"></script>
<script>
    function showClasses() {
        idFaculty = $('#idFaculty').val();
        idSemester = $('#idSemester').val();
        $.ajax({
            type: 'POST',
            data: {
                idFaculty: idFaculty,
                idSemester: idSemester
            },
            url: '/QuanLy/QuanLyRenLuyen/DanhSachLop',
            success: function(response) {
                $('#tbnoidung').html(response);
            },
        });
    }

    $(document)
        .ready(function() {
            $('.add-excel')
                .on('click',
                    function() {
                        $('#modal-excel').modal('show');
                    });

            $('#fImportExcel')
                .ajaxForm({
                    // Return text to avoid auto download file json in old browser.
                    dataType: 'text',
                    beforeSend: function() {
                        $('.modal-message').html("");
                        //loadIconLoading($('.modal-loading'));
                        //$('.modal-loading').fadeIn();
                    },
                    success: function(data) {
                        // Returned data is text: status;content
                        //$.when($('.modal-loading').fadeOut()).then(function () {
                        //unloadIconLoading($('.modal-loading'));
                        var response = data.split(';');
                        if (response[0] == "true") {
                            $('.modal-message').html('<div class="alert alert-success">' + response[1] + '</div>')
                        } else {
                            $('.modal-message').html('<div class="alert alert-danger">' + response[1] + '</div>')
                        }
                        $('.modal-message').fadeIn();
                        //});
                    }
                });
        });
</script>