@using WEBPCTSV.Models.bean
@{
    ViewBag.Title = "Cập nhật thông tin đợt xét điểm rèn luyện";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";

    int index = 0;
}

<ol class="breadcrumb box-shadow">
    <li>
        <a href="#">Trang chủ</a>
    </li>
    <li>
        <a href="/QuanLy/QuanLyRenLuyen">Quản lý điểm rèn luyện</a>
    </li>
    <li>
        <a href="/QuanLy/QuanLyRenLuyen/DotXetRenLuyen">Đợt đánh giá</a>
    </li>
    <li class="active">Cập nhật</li>
</ol>
<div class="main-content">
    <div class="form-info">
        <form class="form-horizontal" id="form-event">
            @*<div class="form-group">
                    <label class="control-label col-sm-2">Đợt xét</label>
                    <div class="col-sm-10">
                        <input class="form-control" name="name" value="" readonly />
                    </div>
                </div>*@
            <input class="hidden" name="idConductEvent" value="@ViewBag.conductEvent.IdConductEvent" readonly/>
            <div class="form-group">
                <label class="control-label col-sm-2">Năm học</label>
                <div class="col-sm-10">
                    <select class="form-control" name="idSemester">
                        @foreach (Semester semester in ViewBag.semesters)
                        {
                            <option value="@(semester.IdSemester)" @(semester.IdSemester == ViewBag.conductEvent.IdSemester ? "selected" : string.Empty)>Học kỳ @semester.SemesterYear.SemesterYearName năm học @semester.Year.YearName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Mẫu xét rèn luyện</label>
                <div class="col-sm-10">
                    <select class="form-control" name="idConductForm">
                        @foreach (ConductForm conductForm in ViewBag.conductForms)
                        {
                            <option value="@(conductForm.IdConductForm)" @(conductForm.IdConductForm == ViewBag.conductEvent.IdConductForm ? "selected" : string.Empty)>@conductForm.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Lịch đánh giá</label>
                <div class="col-sm-10">
                    <span class="btn btn-success btn-sm add-classowner" onclick="modalAddSchedule(@ViewBag.conductEvent.IdConductEvent)">+ Thêm lịch đánh giá</span>
                </div>
                <label class="control-label col-sm-2"></label>
                <div class="col-sm-10">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th class="table-index">
                                STT
                            </th>
                            <th>
                                Đối tượng
                            </th>
                            <th>
                                Bắt đầu
                            </th>
                            <th>
                                Kết thúc
                            </th>
                            <th width="70px">
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (ConductSchedule conductSchedule in ViewBag.schedules)
                        {
                            <tr id="G@(conductSchedule.IdConductSchedule)">
                                <td class="hidden DecentralizationGroup@(conductSchedule.IdConductSchedule)">@(conductSchedule.IdDecenTralizationGroup)</td>
                                <td>@(++index)</td>
                                <td class="label-link" onclick="confirmEditSchedule(@conductSchedule.IdConductSchedule)">@conductSchedule.DecentralizationGroup.DecentralizationGroupName</td>
                                <td class="begin@(conductSchedule.IdConductSchedule)">
                                    @conductSchedule.BeginDateEvaluate.ToString("HH:mm dd/MM/yyyy")
                                    <span class="time hidden">
                                            @conductSchedule.BeginDateEvaluate.ToString("HH:mm:ss")
                                        </span>
                                    <span class="date hidden">
                                            @conductSchedule.BeginDateEvaluate.ToString("yyyy-MM-dd")
                                        </span>
                                </td>
                                <td class="end@(conductSchedule.IdConductSchedule)">
                                    @conductSchedule.EndDateEvaluate.ToString("HH:mm dd/MM/yyyy")
                                    <span class="time hidden">
                                            @conductSchedule.EndDateEvaluate.ToString("HH:mm:ss")
                                        </span>
                                    <span class="date hidden">
                                            @conductSchedule.EndDateEvaluate.ToString("yyyy-MM-dd")
                                        </span>
                                </td>
                                <td>
                                    <div onclick="
confirmEditSchedule(@conductSchedule.IdConductSchedule)" data-tooltip="true" title="Chỉnh sửa" class="btn btn-warning btn-xs">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                    <div onclick="confirmDeleteSchedule(@conductSchedule.IdConductSchedule)" data-tooltip="true" title="Xóa" class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash"></i>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="group-btn text-center">
                <button onclick="
updateConductEvent()" class="btn btn-success">
                    <i class="fa fa-check"></i> Cập nhật
                </button>
            </div>
        </form>
    </div>
</div>

<!-- -->
<div id="modal-schedule" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Lịch đánh giá</h4>
            </div>
            <div class="modal-body">
                <div class="modal-response-message" style="display: none;">
                </div>
                <div class="form-horizontal">
                    <form id="modal-form-schedule">
                        <input type="hidden" name="idConductEvent" id="idConductEvent"/>
                        <input type="hidden" name="idConductSchedule" id="idConductSchedule"/>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Đối tượng
                            </label>
                            <div class="col-sm-9">
                                <select class="form-control" name="idDecentralizationGroup" id="modal-schedule-idDecentralizationGroup">
                                    @foreach (DecentralizationGroup decentralizationGroup in ViewBag.groups)
                                    {
                                        if (@decentralizationGroup.IdDecentralizationGroup != 1)
                                        {
                                            <option value="@decentralizationGroup.IdDecentralizationGroup">@decentralizationGroup.DecentralizationGroupName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Bắt đầu
                            </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                    <input type="date" class="form-control modal-begindate" placeholder="Ngày bắt đầu" name="beginDate">
                                </div>
                            </div>
                            <label class="control-label col-sm-3">
                                Giờ
                            </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="time" class="form-control modal-begintime" placeholder="Giờ" name="beginTime">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3">
                                Ngày kết thúc
                            </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                    <input type="date" class="form-control modal-enddate" placeholder="Ngày kết thúc" name="endDate">
                                </div>
                            </div>
                            <label class="control-label col-sm-3">
                                Giờ
                            </label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="time" class="form-control modal-endtime" placeholder="Giờ kết thúc" name="endTime">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn btn-success update" onclick="editSchedule()">Cập nhật</div>
                <div class="btn btn-primary add" style="display: none" onclick="addSchedule()">Thêm mới</div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>

<script>

    function modalAddSchedule(id) {
        $('#idConductEvent').val(id);
        $('.modal-begindate').val('');
        $('.modal-begintime').val('');
        $('.modal-enddate').val('');
        $('.modal-endtime').val('');
        $('#modal-schedule .modal-dialog .modal-content .modal-footer .update').attr('style', 'display: none;');
        $('#modal-schedule .modal-dialog .modal-content .modal-footer .add').removeAttr('style');
        $('.modal-response-message').hide();
        $('#modal-schedule').modal('show');
    }

    function addSchedule() {
        $.ajax({
            type: 'POST',
            data: $('#modal-form-schedule').serialize(),
            url: '/QuanLy/QuanLyRenLuyen/DotXetRenLuyen/ThemLich',
            beforeSend: function() {
                $('.modal-response-message').hide();
                $('.modal-response-message').html('');
            },
            success: function(response) {
                if (response.success == true) {
                    location.reload();
                } else {
                    $('.modal-response-message')
                        .html('<div class="alert alert-danger">' + response.responseText + '</div>');
                    $('.modal-response-message').fadeIn();
                }
            },

            error: function(response) {
                $('.modal-response-message').html('<div class="alert alert-danger">Lỗi cập nhật dữ liệu!</div>');
                $('.modal-response-message').fadeIn();
            }
        });
    }

    function confirmEditSchedule(id) {
        $('#idConductSchedule').val(id);
        $('#modal-schedule-idDecentralizationGroup').val($('.DecentralizationGroup' + id).text());
        $('.modal-begindate').val($('.begin' + id + ' .date').text().trim());
        $('.modal-begintime').val($('.begin' + id + ' .time').text().trim());
        $('.modal-enddate').val($('.end' + id + ' .date').text().trim());
        $('.modal-endtime').val($('.end' + id + ' .time').text().trim());
        $('#modal-schedule .modal-dialog .modal-content .modal-footer .update').removeAttr('style');
        $('#modal-schedule .modal-dialog .modal-content .modal-footer .add').attr('style', 'display: none;');
        $('.modal-response-message').hide();
        $('#modal-schedule').modal('show');
    }

    function editSchedule() {
        $.ajax({
            type: 'POST',
            data: $('#modal-form-schedule').serialize(),
            url: '/QuanLy/QuanLyRenLuyen/DotXetRenLuyen/CapNhatLich',
            beforeSend: function() {
                $('.modal-response-message').hide();
                $('.modal-response-message').html('');
            },
            success: function(response) {
                if (response.success == true) {
                    location.reload();
                } else {
                    $('.modal-response-message')
                        .html('<div class="alert alert-danger">' + response.responseText + '</div>');
                    $('.modal-response-message').fadeIn();
                }
            },

            error: function(response) {
                $('.modal-response-message').html('<div class="alert alert-danger">Lỗi cập nhật dữ liệu!</div>');
                $('.modal-response-message').fadeIn();
            }
        });
    }

    function confirmDeleteSchedule(id) {
        content =
            '<p>Việc xóa xóa lịch đánh giá kết quả rèn luyện của nhóm sẽ làm mất đi thông tin nhóm đã đánh giá.<br />' +
            'Bạn có chắc muốn xóa lịch đánh giá của nhóm này không ?</p>';
        $('#modal-announcement .modal-dialog .modal-content .modal-footer')
            .html('<button type="button" onclick="deleteSchedule(' +
                id +
                ')" class="btn btn-danger">Xác nhận</button>  <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>')
        $('.modal-announcement-message').html(content);
        $('#modal-announcement').modal("show");
    }

    function deleteSchedule(id) {
        $.ajax({
            type: 'POST',
            data: {
                idConductSchedule: id
            },
            url: '/QuanLy/QuanLyRenLuyen/DotXetRenLuyen/XoaLich',
            beforeSend: function() {
                loadIconLoading($('.cssload-container-over'));
                $('.cssload-container-over').append("Đang xử lý dữ liệu!");
                $('.cssload-container-over').fadeIn();
            },
            success: function(response) {
                $('.cssload-container-over').hide();
                unloadIconLoading($('.cssload-container-over'));
                if (response.success == true) {
                    location.reload();
                } else {
                    $('.modal-announcement-message').html(response.responseText);
                    $('.modal-announcement-message').fadeIn();
                }
            },

            error: function(response) {
                $('.cssload-container-over').hide();
                unloadIconLoading($('.cssload-container-over'));
                $('.modal-announcement-message').html('Lỗi cập nhật dữ liệu!');
                $('.modal-announcement-message').fadeIn();
            }
        });
    }

    function updateConductEvent() {
        $.ajax({
            type: 'POST',
            data: $('#form-event').serialize(),
            url: '/QuanLy/QuanLyRenLuyen/DotXetRenLuyen/CapNhat',
            beforeSend: function() {
                $('.modal-response-message').hide();
                $('.modal-response-message').html('');
            },
            success: function(response) {
                if (response.success == true) {
                    $('.modal-announcement-message').html(response.responseText);
                } else {
                    $('.modal-response-message').html(response.responseText);
                }
                $('.modal-response-message').fadeIn();
                $('#modal-announcement').modal("show");
            },

            error: function(response) {
                $('.modal-response-message').html('Lỗi cập nhật dữ liệu!');
                $('.modal-response-message').fadeIn();
            }
        });
    }
</script>